[2021-08-30 17:41] kvnkho commented on #2021
Closing this because there is already a [task here](https://docs.prefect.io/api/latest/tasks/mysql.html)

[2021-08-30 17:41] #2021 closed

[2021-08-30 20:54] marvin-robot opened #4918 "DockerStorage not running on different (architecture x86 vs M1)"
## Archived from the [Prefect Public Slack Community](https://prefect.io/slack)

**erik.amundson**: Hello, I am using Docker storage to store my flows, but I'm on an ARM mac and our production environment is x86. From the command line I can build the docker image for the correct architecture using `docker buildx build --platform linux/amd64` . Is there any way to do this in the `prefect.storage.do

[2021-08-30 21:05] #4342 closed

[2021-08-30 21:05] #4348 closed

[2021-08-31 03:11] jnoynaert opened #4919 "Parameters used as inputs to `case` aren't added to flow"
## Description
Parameters can't be used directly as inputs into `case`.

This results in a workaround that wraps the parameter in a dummy task returning the parameter's value.

## Expected Behavior
Passing a parameter into a case statement should add the Parameter to the flow.

## Reproduction
[code]

## Environment
Prefect 0.15.1

[2021-08-31 11:06] banuni opened #4920 "Docs Issue"
Hello!

I've found an issue here:`unmapped` should be `mapped` in the "mapped section

Page reference: https://docs.prefect.io/api/latest/utilities/edges.html

[2021-08-31 11:50] mashun4ek commented on #4920
Hello @banuni! Thank you for opening the issue, indeed it should be mapped, also looks like on the same page a `flatten` example should be tweaked too (in Flow block it should be `ll = NestedListTask()`).

<img width="736" alt="Screen Shot 2021-08-31 at 7 43 49 AM" src="https://user-images.githubusercontent.com/22859719/131496830-c11a370a-5aca-4ac9-bfb4-0cdbef700aef.png">

Would you like to open a

[2021-08-31 11:57] banuni commented on #4920
sure, will do :)

On Tue, Aug 31, 2021, 14:50 Mariia Kerimova ***@***.***>
wrote:

[2021-08-31 12:08] RufusGladiuz opened #4922 "Found in the Documentation"
## Description

It is not an actual bug but in the documentation here -> https://docs.prefect.io/orchestration/concepts/api.html#queries
flow_run actually needs to be flow_runs.
Otherwise it does not work for me.

## Expected Behavior

Documentation should be updated.

## Reproduction

Try using flow_run instead of flow_runs

## Environment

[2021-08-31 12:41] john-shearer-altium opened #4923 "%systemroot% is not set on Windows. Causes `Fatal Python error: _Py_HashRandomization_Init: failed to get random numbers to initialize Python`"
## Description

`prefect run --name "hello-world" --execute` fails with `Fatal Python error: _Py_HashRandomization_Init: failed to get random numbers to initialize Python`.

This errors reflects that the environment passed to `subprocess.run` doesn't include `SYSTEMROOT`, so `CryptAcquireContext` (Win32 API call) fails during python initialization (see [stackoverflow answer](https://stackoverflow.

[2021-08-31 13:03] marvin-robot opened #4925 "Signals not being captured correctly for LocalDaskExecutor"
## Archived from the [Prefect Public Slack Community](https://prefect.io/slack)

**bastian.roehrig**: Hi everyone, I found a weird behaviour when I use a timeout with a LocalDaskExecutor and manually raise a Success. The task will always fail with the timeout error message, even if it takes less time than the specified timeout. Minimal example:

[code]

Is this the intended behaviour? Can anyone r

[2021-08-31 13:03] marvin-robot opened #4926 "Signals not being captured correctly for LocalDaskExecutor"
## Archived from the [Prefect Public Slack Community](https://prefect.io/slack)

**bastian.roehrig**: Hi everyone, I found a weird behaviour when I use a timeout with a LocalDaskExecutor and manually raise a Success. The task will always fail with the timeout error message, even if it takes less time than the specified timeout. Minimal example:

[code]

Is this the intended behaviour? Can anyone r

[2021-08-31 13:03] #4926 closed

[2021-08-31 13:04] zangell44 commented on #4926
duplicate of #4925

[2021-08-31 18:24] kvnkho commented on #4919
Hey @jnoynaert

I think you get this error because `return_something` is not called. If you do `return_something()`, this error goes away.

Full code snippet:
[code]

[2021-08-31 19:03] ChappIO commented on #2459
I have the same issue. I need to process tens of thousands of entries yet my api can only handle about 100 entries at a time. So I would like to:

1. Extract all entries
2. Map each entry to a transform task to gather additional information
3. Run my loading task for each 100 items in the iterator. So if I have 98 thousand items in the iterator I want to call "load" 980 times with 100 items.

[2021-08-31 20:04] madkinsz commented on #2459
@ChappIO

Is a task-based fixed window sufficient for your case?
[code]

The downside of an approach like this is that does not support DFE, but that does not matter for everyone.

[2021-08-31 20:27] mashun4ek commented on #4920
Closed in #4921
Thank you for contributing! :)

[2021-08-31 20:27] #4920 closed

[2021-08-31 21:29] madkinsz commented on #4923
Thanks for this descriptive issue @john-shearer-altium -- it turns out I've fixed this for other reasons in #4917. It'll be in our next release.

Let me know if you have any questions

[2021-08-31 21:29] #4923 closed

[2021-09-01 02:36] jnoynaert commented on #4919
@kvnkho 👍 , let's pretend this never happened

[2021-09-01 02:36] #4919 closed

[2021-09-01 10:45] ChappIO commented on #2459
I don't think this will do it for me because it requires me to have a huge amount of memory available to keep all the tasks in memory. I have an iterator (a mapped task) which I would like to pass to the next task in batches of a maximum size:

Example:

[code]

[2021-09-02 01:42] #4864 closed

[2021-09-02 17:41] marvin-robot opened #4931 "Add option to `Docker` storage to respect `.dockerignore` file if using `files` argument"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

**michael.ball**: Hey there. I’ve been playing around with Docker storage today, trying to get all source code packaged together with the flows each time they are registered, and am using the `files` and `env_vars`  attributes as outlined in the Docs. But it seems that my `.dockerignore` file (in the directory from whic

[2021-09-03 03:20] duxiaoyu555 opened #4938 "The question about "Docker Sidecar on Kubernetes""
## Description

Hi , Dear all, i try the example "Docker Sidecar on Kubernetes
" in official website

## Expected Behavior

i expect to see the success execution of the demo

[code]

## Reproduction

but  i met the error under show
[code]

## Environment

Prefect 0.15.3
Prefect[kubernetes] =0.15.3
python 3.6.5

[2021-09-03 03:31] duxiaoyu555 commented on #4938
i try delete the "," or  adjustment parameter  of
[code]

But it didn't work, i don't know  where the docker can't recognize , could you help me ?  Thank you.

[2021-09-03 04:35] bisraelBN opened #4939 "Image pull policy not being set with KubernetesRun"
## Description
When defining a `KubernetesRun` config for a flow all other parameters get
set by the agent correctly, but image pull policy is always set to `IfNotPresent`.
This makes it difficult to deploy to test environments where the image is updated
frequently and uses the same tag, such as `feature-branch` or `staging`.

## Expected Behavior
Image pull policy on the `PrefectJob` should be se

[2021-09-03 20:30] marvin-robot opened #4940 "Registering multiple Flows in same script makes it hard to attach different Executors"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

**brad729**: Follow up from my message above about the `DaskExecutor` not getting the env vars set in the run config, this has caused other issues in the way we have been deploying flows to different environments (test, dev, prod, etc). Previously, using the `LocalDaskExecutor` , we could set the executor on the flow it

[2021-09-03 21:31] norlandrhagen opened #4941 "Azure storage fails with NoneType object has no attribute rstrip"
## Description

I am running a basic flow on a KubernetesAgent on Azure and having issues with Prefect’s Azure storage.

[code]

Where `”prefect”` is a container in a storage account described by my `connection_string`. Unfortunately, during the flow’s execution with this storage type yields a `AttributeError("'NoneType' object has no attribute 'rstrip'").

Specifying `blob_name`, or `stored_as_sc

[2021-09-03 22:08] marvin-robot opened #4942 "Parameterized workers for executor"
## Archived from the [Prefect Public Slack Community](https://prefect.io/slack)

**martin732**: Hello! I was wondering what are some of the patterns that people use to set up flows with configurable number of workers for Dask? Given that you need to pass the executor to a flow it seems like you can't use parameters (as far as I can tell)? Right now we're using KubeCluster to spin up ephermal Dask

[2021-09-04 05:01] madkinsz commented on #4941
Hi! Thanks for this really well written issue. I can't see a way that the `connection_string` would be `None` here from looking at the `Azure` storage implementation. If you print the `storage.connection_string` does it have a value? What does `storage._azure_block_blob_service` return?

[2021-09-06 07:54] Sunkari16 commented on #4814
facing the same issue

[2021-09-06 22:16] norlandrhagen commented on #4941
Thanks!
Printing the following:
`connection_string` : <Storage: Azure>
`storage.connection_string` : 'https://<>.blob.core.windows.net/;QueueEndpoint=……'
`storage._azure_block_blob_service` :

[code]

[2021-09-07 11:21] fg91 opened #4946 "Image processing pipelines fails: insufficient memory due to breadth-first execution"
## Description

I am prototyping an image processing pipeline very similar to what has been presented [here](https://www.youtube.com/watch?v=SIvLhp7aLBw&ab_channel=Heartex) by @kvnkho :

My goal is to 1) load images from a bucket, 2) rotate them (as a dummy transformation), and 3) save the rotated images to another bucket:

[code]

When running the tasks with a `DaskExecutor` on my machine

[code]

[2021-09-07 12:24] tracetechnical commented on #4735
make_pod_spec invokation only yields a worker spec.
Suggested fix for now, stolen in part from the dask-kubernetes tests.
 `scheduler_spec = make_pod_spec(
        image=<IMAGE>,
        memory_limit="1Gi",
        cpu_limit="512m",
    )
    scheduler_spec.spec.containers[0].args = ["dask-scheduler"]
    scheduler_spec = clean_pod_template(
        scheduler_spec, pod_type="scheduler"
    )`

[2021-09-07 14:01] madkinsz commented on #4941
It looks like it's upset by the format of your connection string. From a quick look, it seems that it must be formatted as `KEY=VALUE;OTHER_KEY=OTHER_VALUE` and that you are missing the `BlobEndpoint=` form the start?

See https://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string

I could be wrong though, let me know what you discover!

[2021-09-07 14:08] madkinsz commented on #4735
👍 thanks @tracetechnical -- I appreciate you sharing the solution. This isn't really a Prefect issue and it looks like that workaround should suffice so I'm going to close this.

[2021-09-07 14:08] #4735 closed

[2021-09-07 14:11] chris-aeviator commented on #4386
ok..this is very confusing. No need to build the docker image , but this is totally undocumented in the docs in the docker section.

You will need to mount the volume that has your tasks.py when starting the docker agent. Then you'll need to set that path in storage=Local

[code]

/home/me/Dev/mypipeline/flow.py
[code]

[2021-09-07 14:28] marvin-robot opened #4947 "Running Docker agent in Docker container"
## Archived from the [Prefect Public Slack Community](https://prefect.io/slack)

**bfsmurino**: Hi everyone — is there a way to register a flow with Docker storage from within a docker container? I’m thinking if there’s something clever I can do but not sure

**kevin701**: Hey <@U020NQGNUJW>, how are you trying to register it now and what problem do you run into?

**bfsmurino**: I run my CI/CD pip

[2021-09-07 16:57] marvin-robot opened #4948 "Configure Agent Automation Based on Labels"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

**marie.schiltz**: Hi Everyone,
Quick question on alerting, is there a way to set up alerts to receive emails or slack messages when agents are unhealthy? or if no run has completed successfully in the last say 24hours? Thank you!

**kevin701**: Hey <@U01TBRDTFA8>, we do have Agent automations you can set up in Cloud to

[2021-09-07 21:26] norlandrhagen commented on #4941
Thanks @madkinsz, I must have missed adding 'BlobEndpoint=' in my example. Adding it gives:

`storage._azure_block_blob_service`: <azure.storage.blob._blob_service_client.BlobServiceClient at 0x7fd83c0edd00>

Unfortunately, when registering and running this flow, I still get the same error.

[code]

I tried switching the connection string from a `BlobEndpoint` to a `DefaultEndpointsProtocol `. Thi

[2021-09-07 21:49] jhamman commented on #4941
One more thing to add here, just to rule out the theory of a malformed connection string,

[code]

works fine. So The `BlobClient` is able to parse the connection string when passed directly. Just not when passed via the storage class.

[2021-09-08 00:16] bisraelBN commented on #4940
An additional thought addressing Kevin's comment. The agent/executor does know if it is going to spin up a `distributed.LocalCluster` vs connecting to an existing cluster by looking at the `address` parameter.

https://github.com/PrefectHQ/prefect/blob/900f33a6d9eb30c3cb396b7aa0d2a995fbc87459/src/prefect/executors/dask.py#L82
[code]

If starting a new `LocalCluster`, I feel like it would make sens

[2021-09-08 05:12] jhamman commented on #4941
I was able to get the example above to work by specifying the `AZURE_STORAGE_CONNECTION_STRING` environment variable on both the client and agent, forgoing the explicit `connection_string` argument to the `Azure` storage class.

I have a theory of what is going on here but I could use some help filling in some missing understanding of how things are intended to work. The basic theory is that the a

[2021-09-08 10:09] chris-aeviator opened #4950 "Kafka Task undocumented"
## Description
A kafka task is available since https://github.com/PrefectHQ/prefect/pull/4533 but remains undocumented

[2021-09-08 17:51] sp1thas commented on #4666
@madkinsz this bug seems to be resolved:
[code]

[2021-09-08 18:00] madkinsz commented on #4666
Sweet. Can you share your python version? I presume this changed upstream.

[2021-09-08 18:13] sp1thas commented on #4666
Python: `3.8.10`
Prefect: `0.14.22+29.g6cb1b579a.dirty`

[2021-09-08 19:57] kvnkho opened #4952 "Deleting a Flow with an Ongoing Flow Run on Kubernetes Leads to an Error that Loops Infinitely"
## Description

When there is an ongoing flow run and the Flow gets deleted, it leads to an error:

`Flow run ID not found: "3b51f006-cbbe-459c-b74f-6a832f22db96"`

This is expected, except that this repeats in an infinite loop and the Kubernetes job and pod never stop on their own. Canceling this from the UI also will not work.

## Expected Behavior

The error is fine, but the infinite loop keepi

[2021-09-08 20:03] marvin-robot opened #4953 "Add mapped tasks to the return state of flow.run()"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

**hoangthienan95**: super basic question but how do I access the result of a mapped task from the `state = flow.run()` object? I always get a `KeyError`  when trying to do `state.result[mapped_task].result` but `state.result[not_mapped_task].result` works fine

**zach555**: Hi <@UMT022QT0> this has to do with the intern

[2021-09-08 21:10] rafarui opened #4954 "Named Tuples as Flow parameters."
## Description
I have a flow parameter that is a named tuple. Runner fails to set the parameter values.
the error is here https://github.com/PrefectHQ/prefect/blob/5221e6c4ef68eb8c7659c212ea937d1856cee8a4/src/prefect/utilities/collections.py#L162

## Expected Behavior
Be able to handle named tuples.

## Reproduction
[code]

## Environment
[code]

[2021-09-08 21:14] rafarui commented on #4954
sorry duplicated..
https://github.com/PrefectHQ/prefect/issues/2118

[2021-09-08 21:14] #4954 closed

[2021-09-09 00:35] trevorcampbell commented on #4084
One more possibly important point: this seems to happen when running flows locally, but at least for me doesn't happen when registering flows with a server.

More specifically:
- I have a list of tasks, some of which raise `SKIP`, some of which return a list
- If I call `flow.run()`, the above error occurs
- If I call `flow.register(my_project)` with a running Prefect server, the error does not se

[2021-09-09 12:47] lukekentwell commented on #4390
This documentation error stung me today. Is it possible at all to use StartFlowRun on the core server backend (i.e. without providing a project name)?

[2021-09-09 14:18] madkinsz commented on #4390
Prefect Server has projects as well, are you talking about `flow.run()`?

[2021-09-09 14:33] arwu90 commented on #4651
I catch the same problem. Can it be solved by lateset prefect vesion?

[2021-09-09 14:34] arwu90 commented on #4651
I catch the same problem. Can it be solved by lateset prefect vesion?

[2021-09-09 14:48] arwu90 commented on #4650
I catch the same problem. Can it be solved by lateset prefect?

[2021-09-09 16:12] ryan-cf commented on #4402
We're also hitting this issue. E.g. even with the above ENV vars, it seems like we only need to have 10 or so flows trying to be launched at once for this error to pop up consistently (this happens if we're not careful when scheduling backfills).

Does that mean these vars aren't being picked up correctly or is this just still a limitation of ECS? I've set them in the container definition for the

[2021-09-09 16:22] joe1981al commented on #4402
@ryan-cf can you post the error message you are getting.  Is it related to family like first below or general register/deregister like second below.  The UUID modification in #4380 (closed, not merged) helped me get past the family issue.  The Prefect team merged a fix, #4417 , that resolved the issue where `AWS_RETRY_MODE` was being overridden by code.  After that I have not had any issues (still

[2021-09-09 18:47] madkinsz commented on #4946
Hey @fg91 -- thanks for the thorough issue. In the future though, please don't ping a bunch of our team directly.

DFE will not solve your problem here, as all of the task results are held in the task states until the entire flow completes. Subflows help with this (as you noted in a linked issue) because each subflow will release its task states on completion. Generally, we don't recommend passing

[2021-09-09 20:10] schmidt-jake opened #4957 "v0.15.5 breaks `FlowView` api"
## Description
A regression in prefect v0.15.5 causes results returned by `prefect.backend.flow_run.FlowView.from_id` to be erroneous. The resulting `view.flow` object's `parameters` function returns an empty set even though parameters are part of the flow. This also seems to happen for the `tasks` and `edges` attributes.

## Expected Behavior
When `prefect.backend.flow_run.FlowView.from_id` is ca

[2021-09-10 09:07] iRod3s commented on #4618
I am experiencing the exact same problem.

[2021-09-10 14:14] madkinsz commented on #4618
Hi! We're going to need a minimal reproducible example here. A very simple registration pattern does not encounter this behavior

[code]

[2021-09-11 00:25] baldwint opened #4958 "Databricks task instances cannot be mapped"
## Description

The [Databricks task classes](https://github.com/PrefectHQ/prefect/blob/master/src/prefect/tasks/databricks/databricks_submitjob.py) are not thread safe and therefore cannot be mapped over when using a non-sequential executor like `LocalDaskExecutor`. This is because they store the run id for the Databricks job they are polling as an attribute on the task instance. If I call `run()

[2021-09-11 21:12] kvnkho opened #4960 "Default Parameters Attached to a Clock Don't Satisfy Required Parameters"
## Description

When attaching a`default_parameter` to a `Clock` on a `Schedule`, flows will still ask for the `Parameter` to be supplied. This happens for both `flow.run()` and for runs on Prefect Cloud through the CLI `prefect run ...`.

Even setting the `Parameter` to be `required=False` does not help this issue because the Flow will go through, but the value of the `Parameter` will be `None` i

[2021-09-13 14:20] madkinsz commented on #4960
I don't think clock defaults should be applied to quick runs (from the UI or with `prefect run`). I do think they should be applied with `flow.run` since if there's a schedule attached it'll run the flow on that schedule by default but if `flow.run` is used for an adhoc run, I don't think it should pull defaults from the clock. Clock parameter settings are for overriding normal defaults while runn

[2021-09-13 14:58] youtian001 commented on #4952
Hi Team, I think severity of the issue is pretty high. Is there any plan to fix it? Or is there any workaround for it? Thanks.

[2021-09-13 16:22] cbrown1234 opened #4963 "Docker agent with server tasks stuck submitted: host.docker.internal connection error"
## Description

The docker agent deployed locally on the same machine as the docker server fails to run tasks, they get stuck in the submitted state on the server. From the logs, it seems to relate to an inability to connect to `host.docker.internal`.

[code]

There seem to have been similar or related issues in the past:
https://github.com/PrefectHQ/server/issues/25
https://github.com/PrefectHQ/p

[2021-09-13 17:21] madkinsz commented on #4952
Can you share a longer section of debug level logs?

[2021-09-13 21:12] jnoynaert opened #4964 "Task logged as both success and failure"
## Description
https://cloud.prefect.io/crane-analytics/task-run/2a61b163-93c9-4ea2-9901-dcac56354db9 logged both a success and a failure during execution.

This is not a mapped task. Is this an issue with the UI or logging?

[code]

## Expected Behavior
Task to unequivocally succeed or fail

[2021-09-13 21:21] madkinsz commented on #4963
Thanks for the thorough issue! This seems to be Ubuntu specific, we couldn't replicate it on OSX. It appears to be a regression introduced by https://github.com/PrefectHQ/prefect/pull/4821. Adding the `--expose` flag to your server startup should fix the error, though I'm not sure why the local connection is being blocked. We'll have to investigate further to determine why localhost isn't sufficie

[2021-09-13 22:21] marvin-robot opened #4965 "Flow Builder Class"
## Archived from the [Prefect Public Slack Community](https://prefect.io/slack)

**ben.k.muller**: Hi Team, do you guys have any examples of an implementation of a "flow builder" Class that someone has built?

I have about 10 flows that are identical besides a few minor details. I do not want to use different parameters because I feel like it lacks the proper visibility in the UI and each flow sho

[2021-09-13 22:21] #4965 closed, assigned to nobody

[2021-09-14 06:41] youtian001 commented on #4952
It should be pretty easy to reproduce in Kubernetes, the log is like:
[code]

[2021-09-14 14:32] madkinsz commented on #4963
Yeah I'd like this to work without the expose flag, although it may not be feasible.

Thanks for that note, that's because it was left out of the docstring https://github.com/PrefectHQ/prefect/pull/4966

[2021-09-15 15:28] tothandor commented on #4362
It's been a while since I have dealt with that, and even now it took me a few hours to catch a typo in the executor setup.
`flow.executor = LocalDaskExecutor(num_workers=2, schedule='processes')`
Even if see this line alone, it's hard to catch the missing "r" from the end of the "schedule**r**" parameter.
Soo it's my bad, user error, apologies, many thanks for still dealing with it!
When scheduler

[2021-09-15 15:37] madkinsz opened #4969 "Server endpoint is missing `/graphql` in client inference"
The change in #4914 means that the `api_server` value is missing `/graphql` for clients connection to Prefect Server.

#4643 introduced this originally when we started using the `endpoint` instead of the `graphql` config variable for readability in the auth stash file. These have the same meaning for Cloud but not Server.

See https://github.com/PrefectHQ/prefect/issues/4914#issuecomment-915195313

[2021-09-15 15:46] madkinsz commented on #4957
Thanks for the clear issue! This is peculiar and will require some investigation.

[2021-09-15 15:52] madkinsz commented on #4957
I suspect this is related to https://github.com/PrefectHQ/prefect/pull/4903

[2021-09-15 16:03] madkinsz commented on #4957
I also tried lowering my marshmallow versions to the lower pin without success.

[code]

[2021-09-15 16:12] madkinsz commented on #4957
This looks unrelated to deserialization. The passing case for 0.15.4 is below. It appears that the multiplication task is not being added to the serialized flow in 0.15.5. Adding an explicit task consuming the parameter still yield a serialized flow with no tasks. Adding a 10 second sleep before retrieval still yields no tasks.

This appears to be because we pop the tasks and edges off of the seri

[2021-09-15 16:15] abhasp commented on #4865
I faced a similar issue while trying to send a python dictionary as an unmapped attribute to the task
`
from prefect import task, Flow, apply_map, unmapped
@task
def transform(result, credentials):
  print(credentials)
  result +=1
  return result

with Flow("example") as flow:
  result = [1,2,3,4]
  credentials = {'id': ... , 'pass': ...}
  apply_map(transform ,result ,unmapped(credentials)) # ca

[2021-09-15 16:17] madkinsz commented on #4362
Wonderful to know you got it working! We'll have to add errors on typo'd parameters like that in the future.

[2021-09-15 16:17] #4362 closed

[2021-09-15 18:31] madkinsz commented on #4865
Hi @abhasp

`apply_map` is intended to be a non-task callable which _adds_ tasks to your flow

If you do `transform.map(result, unmapped(credentials))` you will get what you are looking for.

See this example from the `apply_map` docs

[code]

And here is an example using `apply_map` to accomplish the same thing as `transform.map`

[code]

[2021-09-15 19:55] #4865 closed

[2021-09-15 23:59] bennnym commented on #4402
Hi @joe1981al ,

Can I confirm that you need to set these environment variables on the agent container, or will it suffice to add it in your ECSRUN ( run config  object ) ?

Thanks in advance

[2021-09-16 07:28] geertjan-garvis commented on #4675
Any update on this? We are hitting the same issue.

[2021-09-16 07:47] akisayaka opened #4973 "Creating dynamic tasks error: usually caused by a mismatch between the flow version stored in the Prefect backend"
HI,
I met a strange problem about Prefect flow, could anyone help me? Thanks a lot in advance.

I want to create a flow with 2 tasks, the 1st one is whatever(like print("helloworld")), and the second task will have corresponding number of branches according to the random number generated  in the flow. My code is pasted below.
#dynamic_tasks.py

[code]

I can get my expected result when directly ru

[2021-09-16 07:56] jamedge commented on #4675
We "resolved" this problem for now by adding a state handler on the flow that fetches and prints the logs from the task k8s job's pod in case of its failure...

[2021-09-16 13:34] joe1981al commented on #4402
@bennnym must be set in the agent container as `ecsrun` config will apply only to the ECS container created for the flow run and this issue is related to the AWS API calls through boto3 from the agent container.

[2021-09-16 16:36] mgsnuno opened #4975 "prefect==0.15.5 PrefectResult serialization error with StartFlowRun"
## Description

With `prefect==0.15.5` a flow with `flow.result = PrefectResult()` will produce the error bellow after completion from a trigger with `StartFlowRun`
[code]

## Expected Behavior

With `prefect==0.15.0` the same example bellow works fine.

## Reproduction

[code]

run the registered `test_orchestration` in prefect cloud, it will fail with 0.15.5 and work with 0.15.0 (didn't try vers

[2021-09-16 17:39] marvin-robot opened #4976 "Idempotency documentation mistakenly says the TTL of the key is 24 hours"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

**adyer**: Is it possible to increase the TTL from the idempotency key?

**kevin701**: Hey <@U01AJQXV7UK>, the docs says 24 hours but that is outdated. Idempotency keys don’t expire and you need to use a new one to trigger a flow run

**kevin701**: <@ULVA73B9P> open “Idempotency documentation mistakenly says the TTL of

[2021-09-16 17:45] kvnkho commented on #4976
Link to docs is here: https://docs.prefect.io/orchestration/flow-runs/creation.html#idempotency

[2021-09-16 18:31] marvin-robot opened #4977 "Context documentation incorrectly has ‘import prefect.context’ which is invalid"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

**kpweiler**: Hi there - I have a flow where I would like to (at flow run time) get a date (as a string) from a function defined in my codebase and provide it to ALL of the tasks in the flow. This sounds like a Parameter, but there are a couple problems with this:
1. a function call is not JSON serializable
2. I don’t r

[2021-09-16 18:34] kvnkho commented on #4977
No need to read the above. This is the page with the wrong code snippet: https://docs.prefect.io/api/latest/utilities/context.html

[2021-09-16 19:47] bennnym commented on #4402
Hmm, didn't fix the issue for me. I'm still consistently getting the same error.

[2021-09-16 19:50] #4880 closed

[2021-09-17 00:30] marvin-robot opened #4978 "Add Cloud Only label to Automations Page in Docs"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

**tkb**: Will <https://docs.prefect.io/orchestration/concepts/automations.html|Automations> only be available on Prefect Cloud (not server)? Seems that way, but this documentation page doesn't display the blue "cloud" label that the other cloud-only features (like KV Store) have.

**kevin701**: <@ULVA73B9P> open “Add Cl

[2021-09-17 00:35] tekumara commented on #1766
See https://github.com/PrefectHQ/prefect/discussions/4042

[2021-09-17 15:01] #4925 closed

[2021-09-20 02:43] mr-tester-william-lo commented on #3105
Any update ?
[code]

[2021-09-20 09:07] salimbraksa opened #4984 "Error running two flows simultaneously"
## Description
I have two flows, let's call them Flow A and Flow B.  Flow A runs every hour whereas Flow B runs at 4 am GMT+1.

Both flows run without issues. However, at 3 am UTC, Flow A fails with the following error:

![CleanShot 2021-09-20 at 09 50 52](https://user-images.githubusercontent.com/9609223/133977226-d39ac3b6-01f0-44bd-af98-b0b2e5ef58a0.png)

Basically, this happens only when Flow A

[2021-09-20 09:34] webfrank opened #4985 "Flow with big (1.2MB) Parameter dictionary"
## Description

I have several flows with a big dictionary (1.2MB) and I'm using DaskExecutor which complains about this:

`Warning: Large object of size 1.21 MiB detected in task graph:
  {'task': <Parameter: orgid>, 'state': None, 'upstr ... ed_states': {}}
Consider scattering large objects ahead of time
with client.scatter to reduce scheduler burden and
keep data on workers

    future = client

[2021-09-20 19:16] madkinsz commented on #4985
Hi @webfrank -- that's quite the parameter dictionary. If you switch it to be a task, this warning should go away as it will be stored in dask. Is there a reason it needs to be a parameter?

[2021-09-20 19:22] webfrank commented on #4985
Hi, yes, it comes from the flow scheduler and can be any dimension up to about 2MB

[2021-09-20 19:26] madkinsz commented on #4985
Is this large value only being set at runtime or does it have a big default value as well?

[2021-09-20 19:32] madkinsz commented on #4984
Hi @salimbraksa -- can you confirm if you are using Prefect Cloud or Prefect Server when you see this?

[2021-09-20 21:12] AndrewHannigan commented on #4465
@zangell44 just wanted to check in on this, are there plans to implement this?

[2021-09-20 21:43] madkinsz commented on #4975
Hey @mgsnuno -- I can't think of anything that would have changed this behavior between these versions. It looks like states (which are returned by `StartFlowRun(wait=True)`) are not serializable by the JSON encoder which seems like it would have always been true. We'll need to reproduce and look into this further.

[2021-09-20 22:30] marvin-robot opened #4987 "Throttling Consecutive Flow Runs"
## Archived from the [Prefect Public Slack Community](https://prefect.io/slack)

**fingoldo**: Hi ) How do I make sure a Prefect flow which is scheduled to run each 10 mins is NOT run if the previous run is still in progress?

**kevin701**: Hey <@U02BX3V9B35>, you need to use the state handler to query the graphQL API and check if there is a running flow. If there is, you can just `return Success`

[2021-09-21 05:33] kvnkho opened #4988 "Support For Shutting Down Compute When Flow is Cancelled"
## Current behavior

This issue is probably better as a Github Discussion, but it seems some people want an issue to keep track of so that they can get notified when it gets fixed.

When a Flow is cancelled from the UI or API, the Flow just exits leading to hardware left running. This is most common in the case of running Kubernetes jobs or using a Dask cluster as a resource manager. When the flow

[2021-09-21 08:45] salimbraksa commented on #4984
I'm using Prefect Cloud.

[2021-09-21 11:09] luklss commented on #4988
I have bumped exactly into this use case. Following is some code I wrote that illustrates it:

[code]

[2021-09-21 18:44] kvnkho commented on #4977
The same link says that `Prefect Cloud supplies the following..`, making it seem like Server does not.

[2021-09-21 20:24] #4941 closed

[2021-09-21 21:23] zangell44 commented on #4465
@AndrewHannigan because there isn't a generic interface for passing environment variables to clusters, this is not something Prefect will officially support.

As a workaround, you may be able to pass the relevant `environment` parameter to `DaskExecutor.cluster_kwargs`. I have not had time to test this though.

[2021-09-21 21:25] madkinsz commented on #4465
Can you load the environment variables from the flow run's local environment in the cluster creation callable?

[2021-09-22 00:11] fingoldo commented on #4898
I am surprised no one at Prefect cared to answer, even when asked directly in the Cloud dashboard. I was able to figure out by myself, that it's important to use

environment=PATH=/usr/local/bin/anaconda3/bin/

It would be good to add this to the documentation, at least...

[2021-09-22 00:20] kvnkho commented on #4898
Hey @fingoldo,

Really sorry we didn't get to this! Glad to see you resolved it. Where do you think this belongs in the docs? It looks specific to your Python environment and may be hard to generalize. We're always happy to review PRs that improve our documentation!"

[2021-09-22 00:28] fingoldo commented on #4898
Well, I have a pretty standard setup, I'm sure many can run into this issue...
I think this piece of information could be useful in [using-with-supervisor](https://docs.prefect.io/orchestration/agents/local.html#using-with-supervisor). I'm not very skilled in submitting PRs, unfortunately. Thanks a lot!

[2021-09-22 17:43] trevorcampbell opened #4993 "Context creation overhead with many tasks"
Hi folks! I am trying to use Prefect, and found that it is rather slow for my use case. I think I've tracked down the cause: it seems context creation at the start of `task_run` is causing a huge amount of overhead when there are many tasks to run. I was a bit surprised by how expensive this step is.

After chatting with @cicdw on Slack about it, he suggested I make an issue for it.

## Current be

[2021-09-23 01:05] dsaxton opened #4994 "Docs expose non-public API"
It would seem the docs are exposing an API that isn't meant to be public, e.g.: https://docs.prefect.io/api/latest/client/client.html#client-2. Here `Client` is documented as belonging to `prefect.client.client`, which is of course true, but it's also re-exported at `prefect.client`, presumably so that it would be imported this way by end users.

Is there a way around this, or is it just a necessa

[2021-09-23 02:32] youtian001 commented on #4952
Hi @madkinsz , any update about this issue? Thanks.

[2021-09-23 02:35] madkinsz commented on #4952
Yep. Sorry about the delay. I'll see if I can get a fix for this out in the next release.

[2021-09-23 09:02] lpravda opened #4995 "Sphinx to use automodule directive to generate documentation from Tasks"
Hi all, I was pointed here from the Prefect community slack channel. and I'd like to propose a possible feature/plugin for sphinx to be capable of generating documentation from Prefect tasks defined by a decorator, which is presently not possible in an automated fashion.

## Current behavior
When is a Prefect task defined by a decorator, the resulting docstring cannot be automatically consumed by

[2021-09-24 05:24] duxiaoyu555 opened #4997 "Perfect 0.15.5 and 0.15.6 can't open server"
## Description

Perfect 0.15.5 and 0.15.6  can't open server,   i can only open the url xx.xx.xx.xx:4200 in perfect 0.15.4 and under

## Expected Behavior

## Reproduction

## Environment

[2021-09-24 14:18] kvnkho commented on #4997
Hi @duxiaoyu555 ,

There was a breaking change in 0.15.5. You can find it in the [changelog](https://docs.prefect.io/api/latest/changelog.html)

You can use the `--expose` flag to open it.

`prefect server start --expose`.

[2021-09-25 01:58] marvin-robot opened #5000 "Mount Volumes to Docker RunConfig"
## Archived from the [Prefect Public Slack Community](https://prefect.io/slack)

**logaras**: Hey! How can I mount volumes on a specific flow without affecting the global configuration of docker agent as described here <https://docs.prefect.io/orchestration/agents/docker.html#mounting-volumes>

**kevin701**: Hey <@U02AKL3C9C7>, it doesn’t seem like you can because we use `docker-py` and mounts are

[2021-09-25 01:58] #5000 closed

[2021-09-26 03:04] duxiaoyu555 commented on #4997
You're right ,Think you!

[2021-09-26 09:28] datnguye commented on #4393
Hey I'm still getting an error with this, can anyone help to advise?
I'm using the latest Prefect version `prefect==0.15.6`. Appreciated
[code]

Error:
[code]

[2021-09-27 09:59] joelluijmes commented on #4687
Just ran into this with Prefect Server after upgrading 0.15.2 -> 0.15.6. None of my flows run anymore. However, I don't have high volume of tasks.

[2021-09-27 13:41] marvin-robot opened #5002 "Document --expose flag for server"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

**mnimy**: Hello. Tell me what is the problem. I want to deploy prefect on linux server (ubuntu). I do everything according to the instructions <https://github.com/PrefectHQ/prefect>, everything starts well, but when I go to the server address http: // ip: 8080, it says to me that "Safari cannot connect to the server".

[2021-09-27 15:25] jgirault-qs opened #5003 "Add an argument to hide a task in the UI's schematic view."
## Current behavior
Every single task appears in the schematic vue. In the case where you have multiple parameters that are reused for some of your tasks, or if you're doing something relatively complex with dicts like:

[code]

The schema becomes a mess for 2 reasons:
- The fact that multiple tasks use the same argument
- The fact that prefect considers `param['alice']` as its own task

## Propos

[2021-09-27 16:35] madkinsz commented on #4687
@joelluijmes I think there may be a regression related to flow/task registration introduced in 0.15.5 related to this. We're investigating.

[2021-09-29 16:38] marvin-robot opened #5007 "CreateContainer host_config docs could be clearer"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

**antupis**: Hi all, noticed  that following did not work because it creates capitalised keys and adds some additional keywords like networkmode

[code]

ended up doing

[code]

which works I think that part of documentation needs to update.

**kevin701**: Hey <@U02FTS242R4>, you’re not the only one who ran into this fo

[2021-09-30 16:16] Arun-kc commented on #4913
Can I help? @cicdw This will be my first contribution in perfect

[2021-09-30 16:18] cicdw commented on #4913
Hi @Arun-kc - absolutely!  All of the documentation is already written for this task, so in theory all you should need to do is explicitly reference the task in Prefect's [documentation outline](https://github.com/PrefectHQ/prefect/blob/master/docs/outline.toml).

All of the info should be present in this one section of the developer guidelines: https://docs.prefect.io/core/development/documentati

[2021-09-30 16:32] Arun-kc commented on #4913
Sure thing @cicdw. I got the gist of what to do with [documentation outline](https://github.com/PrefectHQ/prefect/blob/master/docs/outline.toml). But this developer guidelines part, I'm not sure what I should do there.

[2021-09-30 16:35] cicdw commented on #4913
Maybe this section will help you get oriented: https://docs.prefect.io/core/development/overview.html#getting-started

[2021-09-30 19:36] kvnkho opened #5009 "Parameters During Runtime Don't Propagate to GraphQL API"
## Description

There are a couple of scenarios that show inconsistent behavior when filling the `parameters` field in the GraphQL API. In order to understand this, we start with the following Flow definition and GraphQL API call.

### Flow Definition

[code]

### GraphQL API

[code]

## Different Outputs

Now we look at the behavior of what the GraphQL API gives under different runs.

### Scenari

[2021-09-30 21:26] bisraelBN commented on #4939
From @zach-angell in the support channel:

The UI definitely has a bug, but I'm a bit perplexed on the API behavior.

Can confirm that when running our flows from the API, the image pull policy is set as expected. Still an issue from the UI, but good from our side since we only launch flows from the UI for testing.

[2021-09-30 22:38] marvin-robot opened #5010 "Misleading Flow Path in Docs"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

**jessica.smith**: Has anyone had success using Git storage with an Azure DevOps repo? Is this supported?

**kevin701**: Hey <@U02B7C185D5>, we made changes to support this but it’s not fully complete yet I think. Check <https://github.com/PrefectHQ/prefect/pull/4870#issuecomment-900002384|this> for usage. Azure DevOps

[2021-10-01 13:22] MrJack91 commented on #4963
Hi there

I dig into, because we have also the need to not expose apollo, but we need access from our run-containers.

So my 50 cents:
Normally you can not expose the apollo port in a company network (with the --expose flag). Anyhow if you use the prefect server (which has no authentication option, as so the apollo) you need an own reverse-proxy (we use nginx with a easy password authentication.

[2021-10-01 14:24] kvnkho commented on #5010
This link is helpful for Azure DevOps repos specifically: https://stackoverflow.com/questions/53106546/cannot-clone-git-from-azure-devops-using-pat#comment106034429_54147034

[2021-10-01 18:40] madkinsz commented on #4963
Thanks for investigating!

Just fyi, the `auto_remove` flag can be disabled with the `DockerRun.host_config` setting
https://github.com/PrefectHQ/prefect/blob/master/src/prefect/agent/docker/agent.py#L427-L429
It'd be nice to make easier though, we have a agent flag for K8s jobs.

The host is only hardcoded if you have 'localhost' in the the API url. You can set `PREFECT__SERVER__HOST` to be `apol

[2021-10-04 09:17] mgsnuno commented on #4975
Hello @madkinsz Any news on this? Anything I can help with?

[2021-10-04 10:24] MrJack91 commented on #4963
@madkinsz Wow, thanks for your answer! It makes me really happy to get answers from you guys. That is not a matter of course. Great!!

Ah pretty cool the docker host options. Did't know this.

The second part did I see already. But I guess, it's not the PREFECT_SERVER_HOST, instead it's the "config.cloud.api".
https://github.com/PrefectHQ/prefect/blob/master/src/prefect/agent/docker/agent.py#L551

[2021-10-04 11:44] MrJack91 commented on #4963
FTR: setting both env's will not solve my problem (v0.15.5) - also tried these not mixed:

[code]

Still got:
[code]

[2021-10-04 15:16] madkinsz commented on #4963
You're welcome :)

That's weird, I don't see why that would try to connect to `host.docker.internal` still. I'll try to reproduce this week.

[2021-10-05 07:47] AlessandroLollo commented on #4913
Hey @Arun-kc!
I contributed the SodaSQL Task some time ago so I'm more than happy to help you integrating the docs.
Feel free to reach out to me!

[2021-10-05 14:12] marvin-robot opened #5017 "Tool to estimate Cloud cost"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

**bfsmurino**: Hi everyone — We’ve been running a local prefect server for a while now and I’m assessing whether we should move to prefect cloud or not — however I want to know how many tasks have run successfully, so that I can get an idea of cost. Is there any way to find that out? maybe an api query?

**kevin701**: H

[2021-10-05 14:14] dylanbhughes commented on #5017
We should create a tool to make it easy for users to see their estimated billable task runs / month if they were to switch to Prefect Cloud

[2021-10-05 15:36] madkinsz commented on #5009
This looks like server-side behavior. cc @cicdw for historical context? @jakekaplan for a fix if we want to do so?

[2021-10-05 15:37] madkinsz commented on #4995
I'd be willing to review a community contribution of this but I am not sure it belongs in this repository and we will likely not be able to prioritize such a plug-in ourselves.

[2021-10-05 15:54] jnoynaert commented on #4964
This was using `DaskExecutor` with a Kubernetes agent (pretty much the default run config, the only change is that we modify the job template to attach some secrets and config maps)

[2021-10-05 16:06] tyun08 opened #5018 "`RunNamespacedJob` method forces `name` in Metadata"
## Description
https://github.com/PrefectHQ/prefect/blob/8fcb9aa97d739fa25405c60cbb28b649c130bd3e/src/prefect/tasks/kubernetes/job.py#L706

Under that constraint,  I cannot use `generateName` feature that will make a random job name. It will give me that exception:

[code]

## Expected Behavior
To allow users use the `generateName` k8s feature.

## Environment
Prefect==0.15.5
Kubernetes==1.21

[2021-10-05 16:19] madkinsz commented on #4964
It seems likely that the task was run twice by a dask worker; we try to guard against double execution but worker teardowns can result in some weirdness. Are you seeing this frequently?

[2021-10-05 17:14] cicdw commented on #5009
I don't understand the issue -- does `flow.run` create a backend run?

[2021-10-05 17:18] madkinsz commented on #5009
Ah no `flow.run` does not. I presume that's leftover and these are being run from the UI.

[2021-10-05 17:38] jnoynaert commented on #4964
No, we haven't seen it again. Since our flows are idempotent we'll just note this as a possible issue.

[2021-10-05 17:38] #4964 closed

[2021-10-05 17:47] cicdw commented on #5009
Ah OK I see -- yea this is probably an oversight in the backend code path

[2021-10-05 17:57] jakekaplan commented on #5009
@madkinsz I can definitely take a look at it

[2021-10-05 18:50] kvnkho commented on #5009
I registered and ran this. Did not use `flow.run()` to get the backend stuff for the record.

[2021-10-06 03:37] trevorcampbell commented on #4993
Update: I tried this with the new tech preview of Prefect Orion, and the issue seems to persist there too!

(also, super excited for Orion. It looks awesome!)

[2021-10-06 09:34] FredrikHilding opened #5021 "Docs Issue"
Hello!

I've found an issue here:`Task Looping`

Page reference: https://docs.prefect.io/core/tutorial/07-next-steps.html

The URL is `https://docs.prefect.io/core/advanced_tutorials/task_looping.html` but should be `https://docs.prefect.io/core/advanced_tutorials/task-looping.html`, i.e. a _ should be a -

[2021-10-06 13:54] luklss commented on #4988
Another important factor here for our use case is that the state handler needs to be on the task level, as we are spawning a kubernetes job for each task using a task specific attribute (in the above `run_id` for instance).

[2021-10-06 15:36] kvnkho opened #5025 "Setting Reference Task in Flow Causes Error"
## Description

This works with `flow.run()` but not when running with LocalAgent.

[code]

## Environment
"prefect_version": "0.15.6",
"python_version": "3.8.0"

[2021-10-06 15:51] jakekaplan commented on #5009
I had to make a change to server for this. Should I create a parallel issue there or I can cross-reference?

[2021-10-06 15:54] #5021 closed

[2021-10-06 16:36] trevorcampbell commented on #4993
No prob @madkinsz -- Is @cicdw 's suggestion from earlier still a reasonable first stab at a solution? I don't have any time right now (I'm actually using Prefect to orchestrate autograding workflows in a big class I'm teaching) but once my schedule frees up a bit I'd be happy to look into it. If it's already on the team's docket though, I will just let the pros handle it ;)

[2021-10-06 17:42] marvin-robot opened #5027 "Explore Constraining Agents to Only Pick Up Flows with Corresponding RunConfig"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

**shaoyiz**: Hey team - Is this expected behavior? I have the following setup:
1. a ECS agent with label “prod”
2. a Kubernetes agent also with label “prod”
3. run_config:

[code]

I was expecting that although the Kubernetes agent has the label “prod”, prefect scheduler should still only route flow runs to the ECS agen

[2021-10-06 18:18] #5002 closed

[2021-10-06 18:24] #4898 closed

[2021-10-06 19:57] madkinsz commented on #4975
Yeah basically I wouldn't recommend setting the `PrefectResult` type globally for your entire flow. I'd set it for the few tasks that are JSON compatible.

I'm not sure we're going to be able to ensure all these objects are serializable. You can always define a wrapper task to handle non-serializable results. You're getting an error here because `wait_for_flow_run` returns a `FlowRunView` dataclas

[2021-10-06 21:00] madkinsz commented on #5025
Traceback for that
[code]

[2021-10-07 15:37] kvnkho opened #5031 "Suport for Dask Performance Report on Task/Flow Runs"
## Current behavior

It's very hard to get a Dask performance report for a Flow. These performance reports are very useful for memory profiling and checking if tasks cause memory issues. More on the performance report can be found [here](https://distributed.dask.org/en/latest/api.html#distributed.performance_report). It generates an HTML doc. This would also help debug flows that end up in a stuck

[2021-10-08 08:58] MrJack91 commented on #4963
@madkinsz: Could you find something already?

[2021-10-08 17:47] marvin-robot opened #5034 "Task Library Needs a Warning that It Is Community Contributed"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

**tadej.svetina378**: I am trying to run a simple task, but I am getting `Unexpected error: TypeError("cannot pickle '_io.BufferedReader' object")`

**tadej.svetina378**: Here's the flow

[code]

**tadej.svetina378**: And the full call stack (running with local agent)

[code]

**kevin701**: Do you have a task that retur

[2021-10-08 21:14] NodeJSmith opened #5036 "Missing documentation for getting flow run logs"
## Description
No text beneath header "Getting flow run logs" in documentation. [Getting flow run logs](https://docs.prefect.io/orchestration/flow-runs/inspection.html#getting-flow-run-logs)

## Expected Behavior
Text describing how to get flow run logs. Darren Pinder says it should be this:
`FlowRun.from_flow_run_id(...).get_logs()`

## Reproduction
[Getting flow run logs](https://docs.prefect.io

[2021-10-10 05:56] arogozhnikov opened #5039 ""Checking your installation" returns unexpected value, diagnostics fails"
## Description

Hello, I am a new user keen on trying orion.
Right after installation (I've tried both from pypi and github), next step is verification from CLI

## Expected Behavior

[code]

But what I see is
[code]

## Environment

Mac os, python 3.9.0 from brew, virtualenv

Diagnostics fails:

[code]

[2021-10-10 11:20] Arun-kc commented on #4913
I'm facing an issue while running `python generate_docs.py`

![image](https://user-images.githubusercontent.com/22231409/136693229-20ffd40b-c3db-49cd-a9fd-38452328859d.png)

I'm using gitpod as my env

[2021-10-10 17:49] AlessandroLollo commented on #4913
I'm not familiar with `generate_docs.py` 😓
Can you provide the steps to reproduce it?

[2021-10-10 19:42] jacobdanovitch commented on #4946
I have an extremely similar use case where almost all of our data is in raw multi-line text files when it comes in and we more or less just wrap it in a JSON object, maybe apply one intermediate function, and then save it. So same `t1.map(t2.map(t3.map(x)))` workflow but with much smaller items than images and I'm still getting hit by this too. I've had to more or less make everything an `@dask.de

[2021-10-11 12:44] mariushab opened #5041 "Orion: prefect version command outputs '0+unknown'"
## Description

The prefect version command does not work as expected

[code]
## Expected Behavior

[code]

## Reproduction

I executed the following commands

[code]

## Environment

OS: macOS Big Sur 11.4 with M1 chip

[2021-10-11 12:56] AlexanderVanEck commented on #4988
# On flow cancellations, resource managers & state_handlers

Flow cancellations not triggering resource manager cleanup tasks seems logical if we remember that a resource manager is nothing more than a setup and a cleanup task. When the cancellation happens the cleanup task is never scheduled.

Task cancellations are similar as the state_handler tasks are required to be called after the task execu

[2021-10-11 13:02] AlexanderVanEck opened #5043 "`try...finally` doesn't work as expected w/ DaskExecutor"
## Description

During my investigation into https://github.com/PrefectHQ/prefect/issues/4988 I found interesting behavior using while..finally (and by extension context managers) while using DaskExecutor. I've opened it as a bug here for prosperity and so that we can track its resolving.

Due to https://github.com/PrefectHQ/prefect/issues/4988 we are not able to cleanup compute with ResourceManag

[2021-10-11 13:04] mariushab opened #5044 "Orion: ValueError: the greenlet library is required to use this function"
## Description

I tried to run the following code from the getting started tutorial:
[code]
I received the following stack trace:
[code]

## Expected Behavior

I expected the function to run without errors and output 42 as result

## Reproduction

[code]

## Environment

OS: macOS Big Sur 11.4 with M1 chip

## Workaround
The error message disappeared after I executed
```$ pip install greenlet```

[2021-10-11 15:18] madkinsz commented on #5039
It looks like something is wrong with our `version` command. I can't reproduce this, but I do get an incorrect version e.g.

[code]

We'll investigate this.

The diagnostics command does not exist in Orion yet, sorry about that. We'll update the issue template soon. Your installation looks fine though!

[2021-10-11 15:58] #5044 closed, assigned to zangell44

[2021-10-11 16:28] jacques- opened #5046 "LocalDaskExecutor fails for > python 3.7 on AWS Lambda"
## Description

Not sure if this is a bug or should be a feature request - but basically the `LocalDaskExecutor` does not work in AWS Lambda if python version is > 3.7.

We get an error msg like the following:
[code]

This is due to `multiprocessing.pool` relying on shared memory (`/dev/shm`) which is not available in Lambda. See https://forums.aws.amazon.com/thread.jspa?threadID=219962 for ref.

[2021-10-11 16:38] madkinsz commented on #5046
Hi! We'll need to investigate if we can switch to the `futures` implementation. Thanks for bringing this to our attention!

[2021-10-11 16:57] kvnkho opened #5048 "Add Support to Figure Out Who Triggered a Task Run"
## Current behavior

Requested from the community.

The intended use case is keeping an archive of who triggered the task runs in each flow. When a flow fails and is restarted, the logs (and state messages) show who restarted the flow run. The example can be seen below:

![image (8)](https://user-images.githubusercontent.com/32503212/136827271-483a21c0-1d4f-4bde-87b5-3090e5b726ab.png)

However, th

[2021-10-11 20:34] jacques- commented on #5046
Cool, we've been testing this against a fair number of slightly complex flows for the last few hours in our dev environment and no errors jumping out yet, so that is at least some kind of datapoint.

[2021-10-11 22:09] Bojne commented on #5041
I ran into the same message when installing with `pip install prefect==2.0a1`. Seems like community has reported this problem before, hope this one is relevant. https://github.com/python-quantities/python-quantities/issues/122 @cicdw

- My system is MacOS Catalina `10.15.2`.
- If I type `conda list prefect`, it shows version of `2.0a1`.

[2021-10-11 22:11] Bojne commented on #5039
This is my `pip show prefect` result:

[code]

[2021-10-11 23:20] Bojne opened #5049 "Orion: nodename nor servname provided when running prefect orion start"
## Description
Hi team,

After trying `prefect orion start`, the server did not set up for me. Instead, I got the following error log:

[code]

## Version

My current version is `2.0a1` and my OS is macOS Catalina version 10.15.2.

## Reproduction

1. install prefect Orion with `pip install prefect==2.0a1`
2. run `prefect orion start` in the shell

## Debug Attempt

I try follow this [stack overfl

[2021-10-12 01:23] fpun opened #5050 "GCS returns 400 error code when attempting to store flow as script on Google Cloud Storage"
## Description
I'm registering flows to Prefect Cloud as part of a build pipeline running on Google Cloud Build.
Flows are stored on Google Cloud Storage using prefect.storage.GCS with stored_as_script set to True.

When processing the flow, GCS doesn't receive the call it expects and returns a 400 code. Full trace below:

[code]

I'm wondering if it might be related to GCS Blob.upload_from_file f

[2021-10-12 02:17] visiodeibc opened #5051 "Task is not executing on pyenv virtual environment."
## Description
After launching local agent with pyenv virtual environment.
The executing task is not executed on the pyenv virtual environment but rather on the server default python environment.

## Expected Behavior
Executed task run on the pyenv virtual environment.

## Reproduction
- install pyenv virtual env
- install unique package on pyenv virtual env
- launch agent after activating the pye

[2021-10-12 03:05] multimeric opened #5052 "Skip task if any of the subsequent tasks is already cached"
## Example

Let's say you have the following map-reduce flow:
[code]

## Current behavior
The first time you run this (assuming you have export `PREFECT__FLOWS__CHECKPOINTING=true`), you will get:
[code]
Subsequent runs look like:
[code]

The above behaviour is poor because we are checking that each prior task is cached (each `map_fn`), when we already know that all follow-on tasks were cached (ie

[2021-10-12 08:04] Arun-kc commented on #4913
I was just following the instructions in this [documentation](https://docs.prefect.io/core/development/documentation.html#api-reference) @AlessandroLollo
@madkinsz I will try that, but doing a lot of PR's, won't that look bad?

[2021-10-12 18:21] madkinsz commented on #3058
Hey @csmith-simplebet -- are you using the version with #4736 ? We're hoping that will make the new nodes send heartbeats correctly and resolve this issue.

I would also note that adding the `"cluster-autoscaler.kubernetes.io/safe-to-evict": "false"` annotation to your kubernetes flow runs is probably a better way to prevent them from being evicted during scale downs instead of adjusting the autos

[2021-10-12 18:41] madkinsz commented on #3058
@zschumacher that's exactly what I was hoping would be fixed by #4736 -- it doesn't really make sense that the new pod would fail to send heartbeats. Are there any heartbeat exception logs as added in that PR?

[2021-10-14 15:07] esegal opened #5058 "Orion: remove requirement for `click <8.0'"
## Description
It seems click version must be 7.xx and doesn't support click 8.xx. An internal package I use forces click 8.xx - so I get a pip conflict trying to install it.

https://github.com/PrefectHQ/prefect/blob/master/requirements.txt#L1

It would be nice to drop the <8.0 requirement

[2021-10-14 15:34] esegal commented on #5058
Hi @zangell44, thanks for the quick reply. It's a dependency that comes from from an internal package I use, which doesn't use click directly (but as part of other imported packages). I'm also trying to ask that the internal package changes.

[2021-10-14 18:26] madkinsz commented on #3712
Hi! We now support this in Orion

https://orion-docs.prefect.io/api-ref/prefect/utilities/settings/#prefect.utilities.settings.LoggingSettings

https://github.com/PrefectHQ/prefect/blob/orion/src/prefect/utilities/logging.yml

[2021-10-14 19:49] #5041 closed, assigned to nobody

[2021-10-15 10:41] sletovsky opened #5060 "Pause/Resume"
I am trying to implement a "batching" class for services that accumulate a collection of work requests until a batch size is reached, and then process the batch as a unit. I want individual workflows not to have to know that batching is happening, so they should simply execute a task to get the work done, and behind the scenes logic should ensure that they wait for their task to be processed as pa

[2021-10-15 21:21] #5058 closed

[2021-10-15 21:32] madkinsz commented on #5058
This will be in the next alpha release.

[2021-10-16 13:00] esegal opened #5063 "Windows support for Prefect v2"
## Description

Starting an Orion flow throws a NotImplementedError on Windows due to use of PosixPath

Suggestions are using PurePosixPath for server paths, or Path for cross-platform paths: https://stackoverflow.com/questions/30190486/pathlib-py-instantiating-posixpath-on-windows

## Reproduction / Example
[code]

[code]

[2021-10-17 14:25] elfring opened #5064 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-10-17 14:32] zangell44 commented on #5064
Hey @elfring, this is interesting, thanks for bringing this up!

Any chance you could share a bit more about the source code analysis tools? I'm curious about what other suggestions they make and how/why they affect performance

[2021-10-18 15:51] #495 closed, assigned to cicdw

[2021-10-19 15:05] tpdorsey commented on #4518
The language used at https://docs.prefect.io/api/latest/tasks/control_flow.html#functions seems most clear and could be re-used throughout the page (with edits as needed) for clarity.

[2021-10-19 15:10] #4913 closed, assigned to nobody

[2021-10-19 20:52] karolzlot opened #5069 "Replace pendulum with arrow"
## Current behavior

Currently prefect uses `pendulum` module.

## Proposed behavior

`pendulum` was created because at the time `arrow` module had many bugs and `pendulum` addressed them. Currently all those bugs are fixed in `arrow`: [source](https://github.com/sdispater/pendulum/pull/556)

`pendulum` currently isn't very actively developed compared to `arrow`.

[2021-10-19 21:57] karolzlot commented on #5069
No, it won't change.

I think this may be good idea to change it in long-term, not asap.

[2021-10-19 22:22] madkinsz commented on #5069
Thanks for bringing it to our attention but we do not have plans to switch now. We'll keep arrow in mind if we have issues.

[2021-10-20 14:28] kvnkho opened #5071 "Having 1 FAILED and 1 SKIPPED Upstream Task Returns SKIPPED and It's Hard to Make the Task FAIL"
## Current behavior

In the code snippet below, `task_b` will SKIP instead of FAIL.

[code]

For this specific user, they were trying to propagate the error past a `case` task:

[code]

There doesn't seem to be a good way to propagate the failure from `task_a` to `task_b`.

## Proposed behavior
I think there might have to be some way to prioritize FAILED over SKIPPED for tasks?

[2021-10-20 16:45] d1manson commented on #5071
I have solved my problems by subclassing the `case` class as follows:

[code]

Task `c` will run after task `b`, whether or not `b` is skipped. And if `a` fails, the failure will propagate through to the end.

It's not beautiful, and the schematics certainly look rather confusing, but it seems to do what i want.

[2021-10-20 19:03] d1manson commented on #5071
**Update** I have forked (i.e. copy-pasted) the implementation of `case`. My control flow helper seems to work nicely for my use case.

I put it in a gist [here](https://gist.github.com/d1manson/81c5982b144671783b37b71de12c7be5)

Here's a screenshot of a bit of my flow where I first validate the existing data I have, and then either do some expensive work to update it, or skip it (in this case ski

[2021-10-21 22:17] zangell44 commented on #4687
@madkinsz yeah I can take a look at this, I'm going to open a new issue

[2021-10-21 22:18] zangell44 opened #5075 "Task missing UUID in `get_or_create_task_run_info` in 0.15.5+"
Users upgrading to 0.15.5+ are encountering empty task id or flow run id string task errors during flow runs.

For example:

[code]

If reporting a reproduction, please include:
- Does this reproduce on 0.15.5?
- Does this reproduce on 0.15.6 or 0.15.7?
- What agent are you using?
- What executor are you using?

A debug branch that can help us determine the source of the issue exists at https://gi

[2021-10-25 17:52] mariushab opened #5081 "Orion: No default database created"
## Description

In the README, it says the following: *Please note steps 1 and 2 are optional. The Orion server will use an in-memory SQLite database by default.*

However, when I try to execute an orion flow, I get the following error message:
[code]

<details>
<summary>Detailed error message</summary>

[code]
</details>

I looked around a little bit and logged the connection url in the *get_engi

[2021-10-25 20:33] majikman111 opened #5083 "Orion: sqlalchemy syntax error"
## Description

Following the Orion tutorial generates the following error

`sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) near "ON": syntax error
[SQL: INSERT INTO flow (id, created, updated, name, tags) VALUES (?, ?, ?, ?, ?) ON CONFLICT (name) DO NOTHING]
[parameters: ('8c4aba29-519a-4e81-90f6-f2276c6edca7', '2021-10-25 20:09:39.741841', '2021-10-25 20:09:39.741893', 'my-favorite-

[2021-10-25 21:21] #5083 closed, assigned to nobody

[2021-10-28 11:50] anna-geller opened #5087 "High memory consumption by a LocalAgent with Module storage and DaskExecutor"
## Description
Issue reported by a Slack user: https://prefect-community.slack.com/archives/CL09KU1K7/p1635147159293000

It seems that when a local agent creates a new flow run with a process that launches "prefect execute flow-run", this increases memory consumption on the agent by roughly 100MB per flow. When spinning up 20 flows in parallel, it caused a 2.1 GB memory spike.

## Expected Behavio

[2021-10-28 17:15] #5087 closed, assigned to nobody

[2021-10-28 19:20] bnaul opened #5090 "Flow execution fails if performance_report_path is provided"
## Description

#5032 tries to initialize the performance report context before initializing the dask client, which fails.

~Making the `performance_report()` call lazy, like~:
[code]
~almost fixes the issue~ (edit: this part was incorrect, see below), but because we pass `set_as_default=False` to `Client()`, the performance report still fails as it tries to look up the active client with `distrib

[2021-10-28 21:35] #5081 closed, assigned to zanieb

[2021-10-29 15:29] schmidt-jake opened #5091 "Remove `required` kwarg from `Parameter`"
## Current behavior
Currently, `Parameter` supports a `default` value as well as a `required` boolean.
From the docstring:
- default (any, optional): A default value for the parameter. Must be a JSON-Serializable type.
- required (bool, optional): If True, the Parameter is required and the
            default value is ignored. Defaults to `False` if a `default` is
            provided, otherwise `

[2021-10-30 18:15] zangell44 opened #5092 "Docs for flow of flows reference `StartFlowRun` instead of newer `create_flow_run` task"
These docs should be updated https://docs.prefect.io/core/idioms/flow-to-flow.html

[2021-10-31 22:25] kvnkho opened #5093 "Support GraphQL API Mutation Calls in Automations"
## Proposed Behavior

This was a feature requested from Slack. This is currently not available. With it though, users will be able to create other Flow Runs based on the Cancelled state of Flow runs that already run. Successful and failed flows can already trigger GraphQL API calls with the Flow-level state handler. There is a gap though when it comes to Cancellations from the UI because the state

[2021-11-01 14:25] madkinsz commented on #5093
I think this is already possible with the custom webhook action.

There's also a `CreateFlowRunAction` that does not yet have UI support https://github.com/PrefectHQ/cloud/pull/3471

[2021-11-01 14:35] madkinsz commented on #5064
Whilst I believe that new code should adhere to this, I do not see a significant benefit from changing existing code unless we are doing other work near it as we are trying to reach a stable version.

[2021-11-01 14:35] #5064 closed

[2021-11-01 14:37] madkinsz commented on #5063
Thanks for the report! Thought I'd replied here.

Windows support is on our roadmap, but not an immediate priority. I will check back in here once we've addressed this!

[2021-11-01 14:38] AlessandroLollo commented on #4595
To have more customization options, we ended up implementing our own Slack notifier at my current company.
However, I'll be more than happy to share our work and ideas on how we can improve `slack_notifier` 😊

[2021-11-01 14:51] elfring commented on #5064
:thought_balloon: Do any factors hinder the wider application of [functionality which became generally available with Python 2](https://docs.python.org/3/whatsnew/2.0.html#augmented-assignment "Augmented assignments")?

[2021-11-01 15:21] madkinsz commented on #5064
I'm entirely in support of this syntax and would insist that PRs follow the new patterns, but we have little to gain by changing existing working code.

[2021-11-01 15:25] elfring commented on #5064
:thought_balloon: Under which circumstances would you get into the mood to measure and reconsider the influence of two questionable statements on the software rum time characteristics?

[2021-11-01 15:49] lbhtran commented on #4618
hi, I'm having this exact problem too. I'm using
`prefect register -m prefect.hello_world --project example`

and it always bumps the version of the flow

[2021-11-01 15:52] madkinsz commented on #4618
Hi @lbhtran -- can you share the output? Running the examples I provided before still results in skipping for me.

[2021-11-01 19:01] kvnkho opened #5096 "Doc Pages to Consider Removing"
## Description

First is this page:
https://docs.prefect.io/core/examples/overview.html#running-with-prefect-cloud-or-server

It doesn't really help users do anything with Prefect and causes confusion for people starting out.

At the bottom of the page it links to this:
https://docs.prefect.io/orchestration/tutorial/overview.html

which has the correct information, but is a bit lacking in context

[2021-11-01 19:31] cicdw commented on #4957
Should be live now ✅

[2021-11-01 19:37] lbhtran commented on #4618
this is what I'm running

[code]

There is no changes in both flows but their versions keep bumped up

[2021-11-01 19:45] iRod3s commented on #4618
Hello,

In case it would be useful, I was using Azure Storage as well.

I'm sorry for not responding, but for some reason I wasn't getting the notifications.

[2021-11-01 19:52] akoumjian opened #5098 "Docs Issue: expand running a flow explanation"
Hello!

I've found an issue here:`python hello_flow.py`

Page reference: https://docs.prefect.io/orchestration/getting-started/registering-and-running-a-flow.html

Nit-picky, but you don't actually say to put the contents into a file.

[2021-11-01 20:02] gmalkov opened #5099 "Default `imagePullSecrets` value in job when using KubernetesRun causes issues with scheduling/scaling"
We were able to resolve this issue, but figured we'd drop an issue here in case anyone else runs into it as it was particularly annoying to track down.

## Description
We are using an EKS managed node group that scales from 0 to run the Prefect job pods. We use `KubernetesRun` and a job template to define the job configuration. The template does not contain any values for `imagePullSecrets`, and w

[2021-11-01 20:02] akoumjian opened #5100 "Outdated Screenshot"
You now have a nice `Input` section instead of the raw json editor shown here: https://docs.prefect.io/orchestration/getting-started/next-steps.html#specify-new-parameters

[2021-11-01 21:56] madkinsz commented on #4618
Hi

In both of these, your flow's storage is being built and the timestamp is used as the default file name so the location of the flow is changing. Registration is a two step process

- Build storage
- Register the flow's metadata (including storage location) with the server

Building storage always occurs when you run register the flow. If the storage location does not change, it will not be re-

[2021-11-01 21:59] iRod3s commented on #4618
Thank you very much for the clarification.

Is there any way to prevent this from happening? I mean, keep using Azure Storage but without the version counter going up due to the default name?

[2021-11-01 22:09] iRod3s commented on #4618
Checking the [docs] (https://docs.prefect.io/api/latest/storage.html#azure) again, i saw the 'blob_name' parameter. Setting this parameter to, for example, the flow name should fix the issue?

[2021-11-01 22:11] madkinsz commented on #5096
I think https://github.com/PrefectHQ/prefect/pull/5086 is already addressing some of this?

[2021-11-01 22:12] madkinsz commented on #5099
I believe this is being addressed in https://github.com/PrefectHQ/prefect/pull/5001

[2021-11-01 22:42] madkinsz commented on #4618
Setting the name of the blob should indeed solve this. You can see where the dynamic default is generated at https://github.com/PrefectHQ/prefect/blob/master/src/prefect/storage/azure.py#L113-L116

[2021-11-02 01:52] kvnkho commented on #5096
Yes it is, but I was chatting with @tpdorsey anyhow and he asked I create an issue and assign it to him so he can take a look.

[2021-11-02 02:11] tpdorsey commented on #5096
Not overlap. This is additional work to bring other pages up to the standard of #5086

[2021-11-02 08:59] iggups opened #5101 "GCSUpload task mapping doesn't generate separate blob names"
## Description

When mapping a GCSUpload task and not providing an explicit blob name, multiple objects will be uploaded to the same blob so that data is overwritten.

## Expected Behavior

A mapped GCSUpload task without a provided blob name generates unique separate blob names and uploads data to these blobs.

## Reproduction

[code]

## Environment

prefect 0.15.7 run locally as shown above or

[2021-11-02 10:00] lbhtran commented on #4618
hi, I'm trying this with `with Flow('demo-flow-as-module2', run_config=kubernetes_run, storage=Azure(container="prefect", blob_name='demo-flow-as-module-2')) as flow:` for the 2nd flow. This is what I'm getting

[code]

[2021-11-02 10:02] lbhtran commented on #4618
also, is there a way to set the blob name dynamically? I'm having a utility function where I set `azure_store = Azure(container="prefect")` and reuse across my project. It's not convenient to set blob name for each flow

[2021-11-02 13:40] gmalkov commented on #5099
Ah, so it is, awesome!

[2021-11-02 13:40] #5099 closed

[2021-11-02 16:24] madkinsz commented on #5101
Hm. This task generates default blob names at runtime with the task run id

[code]

I am quite sure that each mapped task should have a unique task run id, but perhaps not.

[2021-11-02 16:33] madkinsz commented on #4618
Here's PR that enables overwrites for existing blob names so you can use a consistent name https://github.com/PrefectHQ/prefect/pull/5103

You can import the flows and set the storage dynamically ie

[code]

[2021-11-03 06:47] iggups commented on #5101
Yes, I looked into the code as well.

Especially because of the emphasis in the documentation on "mapped tasks are first-class tasks" this seems like a bug to me. ([Documentation](https://docs.prefect.io/core/concepts/mapping.html#prefect-approach))

[2021-11-03 14:53] #5100 closed

[2021-11-03 14:55] madkinsz commented on #3673
Yep! I updated that documentation with the release of 0.15.0.

Thanks for the note @th0ger

[2021-11-03 14:55] #3673 closed

[2021-11-04 12:04] anna-geller opened #5110 "Modify the `ECSRun` or adjust the docs to match the current behavior with custom task definitions and roles"
## Description
The description of ECSRun doesn't entirely match the current behavior or is at least confusing.

## Expected Behavior
- task_role_arn="arn:aws:iam::XXX:role/prefectTaskRole" works, but task_role_arn="prefectTaskRole" doesn't even though according to the docstring [here](https://docs.prefect.io/api/latest/run_configs.html#ecsrun) the name should suffice - QA this and adjust either th

[2021-11-04 12:42] will-ockmore commented on #5110
Thanks @anna-geller ; please see the [discussion thread](https://prefect-community.slack.com/archives/CL09KU1K7/p1635883735350600) on the community slack for background.

### `task_role_arn` and `execution_role_arn`

The description for task_role_arn is not correct:

Only the full ARN will work here.

I haven't checked the behaviour of `execution_role_arn` but according to the [AWS documentation](

[2021-11-04 21:47] #4618 closed

[2021-11-04 21:50] iRod3s commented on #4618
@madkinsz I have been following your fix and I want to thank you for your work. 😊

[2021-11-04 23:50] madkinsz commented on #4618
@iRod3s thank you!

[2021-11-05 16:34] madkinsz commented on #5075
We cannot reproduce and have not seen additional cases.

[2021-11-05 16:34] #5075 closed

[2021-11-06 12:49] kismsu opened #5118 "Error in running server on MacOS"
## Description

Hi, I'm trying to setup default prefect server `prefect server start` on my Mac but keep getting error for both 0.15.6 or 0.15.7 versions

## Reproduction

Here is very verbose log output
t-postgres-1  | PostgreSQL Database directory appears to contain a database; Skipping initialization
t-postgres-1  |
t-postgres-1  | 2021-11-06 12:40:22.913 UTC [1] LOG:  listening on IPv4 address

[2021-11-06 18:20] madkinsz commented on #5118
Hi! What `docker-compose` version do you have (`docker-compose --version`)?

[2021-11-06 22:58] abrookins commented on #5118
I'm also seeing this issue on an M1 Mac Air with docker-compose `docker-compose version 1.29.2, build 5becea4c`.

It is also reproducible if you run `docker run prefecthq/ui`:

[code]

[2021-11-08 10:32] anna-geller commented on #5110
All below observations are based on Prefect 0.15.7 using `ECSRun` run configuration with `S3` storage, and ECS agent deployed in-cluster as ECS service as described in [this post](https://towardsdatascience.com/how-to-cut-your-aws-ecs-costs-with-fargate-spot-and-prefect-1a1ba5d2e2df).

## 1. Referencing task role by name vs. by ARN

Referencing task role by IAM role name (as shown below) doesn't w

[2021-11-08 10:59] andywaugh commented on #5046
Hey, small update but just an FYI that we've been using the change detailed above in our prod env for a couple weeks now and it seems to work without issue. Are you open to us cleaning it up a bit and submitting a PR?

[2021-11-08 16:02] madkinsz commented on #5118
The UI is not the issue here, it's that Hasura is exiting.

This is a known issue with the default docker-desktop RAM allocation https://github.com/PrefectHQ/prefect/issues/4611

Allocating additional memory should resolve this.

[2021-11-08 16:04] madkinsz commented on #5046
Thanks @andywaugh — I'd be happy to review a PR.

[2021-11-08 16:27] abrookins commented on #5118
Thanks for that - I bumped Docker's memory allocation to 8 GB and was able to start the server. 🙌

A couple of follow-up questions:

1. What's the recommended memory setting? I saw that someone mentioned 15 GB in that linked issue. Is that what you folks recommend?
2. Would you consider a PR to the "UI and Server" section of the README with either A) a mention of the minimum suggested RAM for Dock

[2021-11-08 17:19] madkinsz commented on #5118
1. I use 8 GB personally, I'm not sure what the minimum requirement is though since I'm often developing with multiple services at once.
2. Yeah that'd be great! I think https://docs.prefect.io/orchestration/Server/deploy-local.html would be a good spot for a notice of the recommended memory.

[2021-11-08 17:55] abrookins commented on #5118
Awesome! I'll write the PR with an 8 GB recommendation since that's what I used. And thanks for pointing me to that page, that looks like the right place!

[2021-11-08 19:29] kismsu commented on #5118
`docker-compose version`
docker-compose version 1.29.2, build 5becea4c
docker-py version: 5.0.0
CPython version: 3.9.0
OpenSSL version: OpenSSL 1.1.1h  22 Sep 2020

And yes this is MacBook Air M1

[2021-11-08 19:30] kismsu commented on #5118
Tried to set Docker limit to 8 GB but still got the issue. Going to try running it on Linux from now

[2021-11-09 12:06] jonsnowseven opened #5122 "Providing an object as a task execution parameter does not resolve to a task result"
## Description
Providing an object as a task execution parameter does not resolve to a task result, i.e., on the function annotated with task decorator, the argument is a task instead of the task result.

The example below works with a dictionary but not with a custom class.

## Expected Behavior
The task argument should be the task result.

Not sure if this is a bug or if there is something missi

[2021-11-09 14:55] casey-green commented on #2772
In case anyone else runs into this issue, I was able to work around it by changing from `DaskExecutor` to `LocalDaskExecutor(scheduler="threads")`. I'm **assuming** this is because the large task results no longer needed to be de/serialized across worker processes, which likely takes additional memory. This is not a sure-fire workaround, as you may still run out of memory if your task results are

[2021-11-09 15:38] madkinsz commented on #5122
Hi @jonsnowseven -- we do not descend into arbitrary objects to resolve tasks into runtime values so your `TestObject` contains a reference to the task object instead of the runtime value. To resolve this, you can initialize your object in a task.

[code]

[2021-11-09 16:39] #4931 closed

[2021-11-09 18:48] anna-geller commented on #5110
@will-ockmore here is a PR with documentation changes to make it clearer when custom roles should be passed, feel free to chime in if anything is still unclear or if you would like to add something: https://github.com/PrefectHQ/prefect/pull/5124

[2021-11-10 15:24] jacques- commented on #5046
Got a first pass at a PR in, it's def not 100% yet, but if you could give me some idea how for this is from what you'd need?

[2021-11-10 16:04] vldbnc commented on #4840
experience the same problem, your WA works but having an issue later to reach k8n pod name -- scheduler name tcp://dask-scheduler:8786 but IP works :/

Please mark that Docker version needs to be at least version v20.10.0+
[code]

[2021-11-10 17:43] will-ockmore commented on #5110
@anna-geller that's a comprehensive investigation, thanks for taking the time to write it out. The suggestion you made here is the one I've gone with in the end.

With

two things may have been happening:

1. I was previously using the agent's option for default task role, I've since stopped using this option; however from your testing and the code, it would seem this can't have been the problem (

[2021-11-10 17:55] kvnkho opened #5130 "Expose ports in DockerRun"
## Current behavior

It is currently very limiting to expose container ports when using Prefect's DockerRun. In normal Docker CLI, this would be:

`docker run --name test -p 12001:12001`

Using the Docker Python client, you can expose ports by supplying the `ports` argument and the `host_config`.

[code]

## Proposed behavior

In order to support this, we need DockerRun to take in a `ports` argume

[2021-11-11 02:58] ShardPhoenix opened #5133 "Request: detect when jobs are blocked from starting due to k8s limits"
## Description

My k8s namespace has resource limits (max total CPU and RAM). If starting a Prefect job pod would go over those limits, it just never starts, and the flow on the UI hangs indefinitely. The agent logs still say `Completed deployment of flow run`. When I increased the limits, the job pod started immediately and the flow completed as normal.

## Expected Behavior

It would be nice if

[2021-11-11 03:05] ShardPhoenix commented on #4484
I just got bit by this one - was wondering why my jobs weren't starting. It seems `adapt_kwargs` overrides `n_workers` so it's ok to have both.

[2021-11-11 05:05] madkinsz commented on #4484
Gee, this is a tricky one indeed. I guess we could add a warning in Prefect but it seems like it is really the responsibility of `KubeCluster` to choose a reasonable default number of workers or warn if it's unset. Is there an issue on https://github.com/dask/dask-kubernetes ?

[2021-11-11 12:17] jonsnowseven commented on #5122
@madkinsz, oh got it!

Thanks for the solution 🙌

[2021-11-11 12:17] #5122 closed

[2021-11-11 20:02] schmidt-jake opened #5139 "task retry functionality should have option to specify on which errors to retry"
## Current behavior
When using `Task.max_retries`, a task will be retried for *any* exception that is thrown in the task.

## Proposed behavior
There should be a new kwarg for `Task` called something like `retry_on` which should take an iterable of exception classes, which, if thrown, will trigger a retry. If an exception is raised that isn't in `retry_on`, then the task should immediately fail wi

[2021-11-12 21:05] dylanbhughes opened #5145 "Description of Cloud's SSO Options in our documentation"
## Current behavior

We don't have a description of the SSO options in Prefect Cloud.

## Proposed behavior

A brief doc describing what the Enterprise Tier of Prefect Cloud can offer in terms of SSO.

[2021-11-13 04:35] abrookins commented on #5118
How'd it go, @kismsu? I'm curious if you hit the same error even with 8 GB ("t-hasura-1 exited with code 137").

[2021-11-13 08:11] kismsu commented on #5118
You know what? After couple of restarts it is working now with 8GB. Thank you

[2021-11-13 08:11] #5118 closed

[2021-11-15 12:04] carderne opened #5146 "set_flow_run_name() fails on DaskExecutor"
## Description
`set_flow_run_name()` fails when run using `DaskExecutor` using `GCPCluster`. Other code (`prefect.context` etc) works fine, and the `set_flow_run_name()` *does* work when running locally.

I don't have any debugging information as the run just fails without any logging, and haven't found a way to get more info out of the Dask worker... But I have confirmed that it is this line alon

[2021-11-15 16:46] madkinsz commented on #5146
Hi! Here you note using `prefect run -p ...` to run this flow which is a local-only run so it has no representation in the API. In this case, I'd expect setting the flow run name to fail since the flow run id is random and meaningless. Is this occurring for registered flow runs?

[2021-11-15 19:43] bnaul opened #5147 "wait_for_flow_run(stream_logs=True) fails if running in Cloud"
## Description

`wait_flor_flow_run(stream_logs=True)` raises a GraphQL exception if running inside Cloud:
[code]
My guess is this error is actually some kind of authentication/permissions failure related to the runner token (or whatever they're called now) that you inherit from the `CloudFlowRunner`. Not totally sure how to debug further but I did try putting in a debugger and running the exact s

[2021-11-15 20:01] madkinsz commented on #5147
The authentication method will matter here. Are you using an API key or (the older) authentication tokens on your agent?

[2021-11-15 20:40] bnaul commented on #5147
Thanks @madkinsz, I had thought I was using API keys everywhere now but in fact our old k8s agent got brought back from the grave by some automated job which switched us back to tokens there. After migrating that agent to API keys the logs show up properly now.

[2021-11-15 20:40] #5147 closed

[2021-11-15 21:10] madkinsz commented on #5147
Thanks for investigating! It's good to know tokens will not work with this query. I don't think we'll bother adding support since we're removing client-side token support entirely (#5140).

[2021-11-15 21:32] bnaul commented on #5147
+1, in general it will actually be great to have an explicit "stop using tokens" exception, bc what's happened to me several times instead is a more obscure graphql exception like the one above

[2021-11-15 22:28] #5110 closed

[2021-11-15 23:09] tpdorsey commented on #4590
Confirm this was fixed in CLI as of 0.15.6

[2021-11-15 23:09] #4590 closed

[2021-11-15 23:50] madkinsz commented on #5110
See https://docs.prefect.io/api/latest/run_configs.html#ecsrun for new documentation

[2021-11-16 09:32] Sinha-Ujjawal opened #5148 "`.map` cannot be used with `sets` and does not warn when passed as a keyword argument"
## Description
I don't know how it got missed, but when you try to pass a Set instead of a List in FunctionTask.map function. The flow run **straight up fails "silently" (This is insidious)**

## Example
[code]

This works, but the following doesn't

[code]

(Notice I just changed `add.map(x=[1, 2, 3], ...)` to `add.map(x={1, 2, 3}, ...)`

The fact that it fails silently without any warning or err

[2021-11-16 10:29] carderne commented on #5146
Sorry yes just tested and it works with a registered flow run.

[2021-11-16 11:53] carderne commented on #5146
Just emphasising: this task *only* fails when running on a remote Dask cluster called from a non-registered flow. (i.e. the random Flow run id issue doesn't surface when running with a `LocalExecutor`)

[2021-11-16 12:50] anna-geller opened #5149 "Change the log level to Warning when raising signal from the Runner"
## Current behavior
[code]

## Proposed behavior
[code]

The user explains it:
"I'm just thinking it might be useful to log it as a warning, for increased visibility in logs (especially when not running through a prefect server (locally or on CI).   (I can catch the exception during dev and the behavior is of the program is correct, this is only about making this more visible in log out)
Does that

[2021-11-16 15:54] madkinsz commented on #5149
I'm not sure I buy that this should be a warning. Generally, we warn when something is not working as intended. The user raising a signal and it being caught and transformed into a state is expected behavior.

[2021-11-16 16:00] madkinsz commented on #5146
You could try to get additional debugging info with

[code]

Are you using Server or Cloud when registering flows? What's the output of `prefect auth status`? What's the output of `prefect diagnostics`?

[2021-11-16 16:11] madkinsz commented on #5148
I'm sorry to hear this took you a long time to figure out. When I run this locally I get a clear indication that the flow run has failed

[code]

Inspecting the state, I can see the error message

[code]

Mapping requires objects that support `__getitem__` and are accessed by _index_. Sets are unordered and do not support this operator and therefore cannot be mapped over.

[2021-11-16 17:04] anna-geller commented on #5149
Got it, thx. That makes sense, I will communicate it back to the user 👍

[2021-11-16 17:04] #5149 closed

[2021-11-16 19:22] damienrj commented on #2480
Sphinx works pretty well with the markdown extension. There has some been some progress on autodoc style docs for Markdown though https://github.com/mkdocstrings/mkdocstrings/.

[2021-11-16 20:36] madkinsz commented on #2480
Thanks for weighing in! We took a long look at that as we tested documentation tooling for Orion. Our current plan is to continue with the same tooling here and use mkdocs for Orion (and we are indeed using autodoc generation there). Eventually, we'll only have the vuepress setup for legacy documentation.

[2021-11-16 20:36] #2480 closed

[2021-11-17 00:55] ShardPhoenix opened #5153 "Misleading error messages from code and command line"
## Description

In my temporary Prefect server setup the database died so we lost all tenants/projects. After this when trying to publish a flow against a project (eg with `flow.register(project_name="myproject")`, we got the error `[{'message': 'field "project" not found in type: \'query_root\'', 'locations': [{'line': 2, 'column': 5}], 'path': ['project'], 'extensions': {'path': '$.selectionSet.

[2021-11-17 03:41] madkinsz commented on #5153
Hey @ShardPhoenix -- sorry to hear about the uninformative errors, that's definitely not what we are striving for.

Regarding the first, can you share a reproducible example? I haven't seen one quite like that.

Regarding `prefect server create-tenant` without a `--name`, I'd be happy to accept a fix. Note that you've provided the wrong command in this issue though (just don't want someone else to

[2021-11-17 03:56] Sinha-Ujjawal commented on #5148
I can see in `map` function [here](https://github.com/PrefectHQ/prefect/blob/0464042e574c8187d0c344e52a4c39727f378867/src/prefect/core/task.py#L750) in the source code that it's been checked that the args have `__getitem__` function. But why is this error not shown in the logs?

[2021-11-17 05:37] madkinsz commented on #5148
This is because it only checks positional and not keyword arguments, which seems like an oversight.

Here's a fix: https://github.com/PrefectHQ/prefect/compare/fix-map-check

Feel free to add tests covering this case and open a pull request. Otherwise, we'll get to it when we have a chance.

[2021-11-17 05:57] ShardPhoenix commented on #5153
For the first one, it happens when trying to register a flow on a new Prefect Server instance that doesn't have project or tenant yet. I don't think it would happen on an established server.

[2021-11-17 09:37] carderne commented on #5146
No logs make it back to my console, so with that code it just 'succeeds' silently. Btw this isn't particularly important for me, and maybe running Dask clusters from un-registered runs just isn't a supported/important use case for anyone? Not sure if this no-logs behaviour is expected or not.

I'm authed with Cloud, Prefect 0.15.9, Python 3.9.7, Ubuntu 20.04.

[2021-11-17 16:04] madkinsz commented on #4787
Sorry, I missed this reply originally. @Jacob-Barhak did you find a solution?

Generally, the output of

indicates that the Docker Engine socket cannot be connected to. Often, this means the engine is not running. It could also be a permission issue. This isn't really a Prefect issue and I'd encourage you to seek guidance from docker/docker-compose.

If you're using WSL, it looks like there are so

[2021-11-17 16:10] madkinsz commented on #5146
It seems quite likely that something wasn't being pickled so the task was failing on the worker but now that it's pip-installed it's available?

We value the use-case, but there aren't great ways to stream logs from dask and we already have a setup for distributed logging and introducing a new one for this specific case seems like a stretch. I think most people set up log collection on their infra

[2021-11-17 16:33] madkinsz commented on #4963
@MrJack91 Getting Docker Desktop going again was truly a saga. I've got mixed news: it worked for me.

[code]

[code]

I put a breakpoint to check the connection string

[code]

And the flow run executes happily

[code]

[2021-11-17 16:37] madkinsz commented on #4963
Oh, you're setting your environment variables in the flow run container (`--env ...`) not the agent process so `populate_env_vars` will not have those overrides. Values set by `--env` will be overridden by some of our required keys:

[code]

[2021-11-18 02:54] andersglindstrom commented on #4963
I am encountering the same problem; that is, the agent is failing to connect to `host.docker.internal`. I won't post the log here because it's the same as the log in the Description at the top of this page. (I did post this to SO: https://stackoverflow.com/questions/69997072/prefect-docker-agent-failing-to-update-flow-status-after-execution/69998269#69998269 which is how I ended up finding this bu

[2021-11-18 06:20] Sanil2108 commented on #4704
Is there any update on this issue?

[2021-11-18 08:54] carderne commented on #5146
It was definitely only when `set_flow_run_name` was called, but yes it must have been something like that.

Sorry for the dead-end...

[2021-11-18 15:53] madkinsz commented on #4963
Thanks for your additional context! There's been a lot of confusion about the `host.docker.internal` support in the past and lots of work to try to make it easier for users

Original work transforming `localhost` to `host.docker.internal`: https://github.com/PrefectHQ/prefect/pull/2196
We map `host.docker.internal` to `host-gateway` so it works on Linux:  https://github.com/PrefectHQ/prefect/pull/

[2021-11-18 15:57] madkinsz commented on #4704
It's on our backlog to investigate further. Since there is a viable workaround (providing a task definition), it is not a high priority.

[2021-11-18 17:26] schmidt-jake commented on #5091
As of Nov 18, 2021, prefect says this is a `wontfix`.

[2021-11-18 18:23] madkinsz commented on #5091
Did someone else suggest this or just the lack of response?

I am willing to consider this change for 1.0, I'm just not sure of the origins of this choice and would need to check if it matters.

[2021-11-18 20:03] andersglindstrom commented on #4963
Okay. Thanks. I'm still ensure. Is this a bug or am I misconfiguring something? I mean, running the server with `-expose` works but is that a workaround or is it indeed the final and proper solution?

[2021-11-18 21:23] madkinsz commented on #4963
\

Instead of exposing the entire server, you can put the agent on the same network as the composed server using `--network prefect-server` as documented in #5156

[2021-11-18 23:02] andersglindstrom commented on #4963
Unfortunately, that still doesn't work. Here is what I did with the agent:
[code]

[2021-11-18 23:05] madkinsz commented on #4963
@andersglindstrom can you share the output of `docker version` as well as your prefect version?

[2021-11-18 23:12] andersglindstrom commented on #4963
[code]

[2021-11-18 23:17] andersglindstrom commented on #4963
I had a look at the Prefect code that's installed on my machine. `_version.py` definitely says 0.15.9.

However, I also checked `agent/docker/agent.py` to see if it has the changes from https://github.com/PrefectHQ/prefect/pull/4714 but it does _not_ have those changes.

[2021-11-18 23:29] andersglindstrom commented on #4963
Sorry. It _does_ have it. I was looking in the wrong place.

[2021-11-19 02:24] madkinsz commented on #4963
I'll have to try to reproduce on an Ubuntu machine next week, we develop on macOS. Your versions should be setting the host-gateway to link this host correctly.

If you want to help, you can use the `DockerRun` `host_config` to disable `auto_remove` then inspect the created container to see if `host.docker.internal` is being mapped to `host-gateway` as intended.

[2021-11-19 02:49] andersglindstrom commented on #4963
Yes. I’m happy to do that. I was going to ask if there was some way to find that out.

[2021-11-19 15:03] s-mawjee commented on #5130
I'm keen to take this on.

[2021-11-19 15:31] madkinsz commented on #5130
@s-mawjee go for it!

[2021-11-19 15:45] schmidt-jake commented on #5091
My company had a call with Prefect yesterday and they updated us saying this issue would be deferred — they seemed to feel it was more work than expected in a direction outside of their main scope for 1.0 🤷🏻

[2021-11-19 20:14] andersglindstrom commented on #4963
Okay. So I can confirm that `host.docker.internal` is being mapped to `host-gateway` as intended.

[code]

[2021-11-19 20:37] andersglindstrom commented on #4963
If it helps, here is the github repo that I am using: https://github.com/andersglindstrom/frobprefect

Please see https://github.com/andersglindstrom/frobprefect/readme.md for set up and then https://github.com/andersglindstrom/frobprefect/blob/master/docker_2/readme_docker_host_network_problem.md to reproduce the problem.

[2021-11-22 13:31] lbhtran commented on #4618
hi, thank you for the fix. I've just done some tests on this. There are a few inconsistencies I'm afraid.

1. It works when I tried this
[code]
But it only works the first time, if I rerun the registration command, it bumps the version up again
[code]

2. If I use what you suggested above to set the blob name dynamically like this
[code]

I get the error

[code]
It looks like so far the only place

[2021-11-22 15:53] Trymzet opened #5166 "Broken link in the UI (team members screen)"
## Description

Below link in the Team members screen in the UI is broken:
![image](https://user-images.githubusercontent.com/23084949/142890473-8d1f393c-e86f-4e60-a474-1d3fbfc59b67.png)
(the link is https://cloud.prefect.io/team/account)

It leads to:
![image](https://user-images.githubusercontent.com/23084949/142890544-88dc221f-8ade-4204-94fa-786ec439f6da.png)

I guess it's supposed to link to h

[2021-11-22 16:19] #5130 closed

[2021-11-22 16:40] madkinsz commented on #4618
@lbhtran it looks like you've left `override=True` out of the dynamic example in (2).

I'm not sure why the version would change in (1), if you can compare the serialized flows then we can determine what keys are changing resulting in a different hash. Also note that the hash of the serialized flow is not meant to be a perfect versioning system. If versioning is important to you, I'd strongly reco

[2021-11-22 16:43] madkinsz commented on #5166
Thanks! I'm going to transfer this to the UI repository.

[2021-11-22 17:58] madkinsz commented on #5091
After checking in with the rest of the team, we're in agreement that this would be a primarily cosmetic change which is not worth breaking current user's workflows — we generally want to remain backwards compatible where feasible even as we move towards 1.0.

[2021-11-22 17:59] #5091 closed

[2021-11-22 19:47] lbhtran commented on #4618
Hi, thank you for the reply. For 2, I was just copied the codes from the comment above. I get the version bump randomly when no changes were applied to the flow with that method too. The thing is, we’re having a CI/CD pipeline to automatically deploy the flows. I don’t want every time we run it, the flow’s version gets bumped up randomly. There’re used to be a flag in the old prefect cli that hand

[2021-11-22 21:19] madkinsz commented on #4618
The old CLI has `--skip-if-flow-metadata-unchanged` which is simply the default behavior in the new CLI. The difference is that the idempotency key is calculated _before_ building storage in the old CLI and is calculated _after_ in the new CLI. The old behavior is actually wrong as your flow could be pushed to a new location but not re-registered to point to it.

[2021-11-23 00:17] nikhil-sthalekar commented on #3963
Just wanted to add a bit to the conversation as a Ray user who is utilizing Prefect for setting up and scheduling workflows. I'm using ShellTasks for everything.
- I use the ray cluster launcher to spin up/manage a cluster with specified resources, using a ShellTask
- Then using more ShellTasks, I'm running the rest of the workflow as python scripts that are executed on the Ray Cluster that I spun

[2021-11-23 04:29] andersglindstrom commented on #4963
:; docker run --add-host "host.docker.internal:host-gateway" -it prefecthq/prefect cat /etc/hosts
127.0.0.1	localhost
::1	localhost ip6-localhost ip6-loopback
fe00::0	ip6-localnet
ff00::0	ip6-mcastprefix
ff02::1	ip6-allnodes
ff02::2	ip6-allrouters
172.17.0.1	host.docker.internal
172.17.0.2	d9807c626053

[2021-11-23 10:22] MrJack91 commented on #4963
Hm, I guess this issue cares now about two different problems:
* host.docker.internal (how to solve it inside the flow container - ubuntu specific)
* network env vars: how to set another apollo URL (for using it inside the network "prefect-server")

@madkinsz When I saw your test:

This test illustrates for me was pretty clear, that the env var does not work - at least like I would expect. There w

[2021-11-23 16:50] madkinsz commented on #4963
You are setting environment variables for _inside_ the container when you use the `--env` flag. For example, those variables are read [here](https://github.com/PrefectHQ/prefect/blob/0.15.9/src/prefect/agent/docker/agent.py#L562). The one you provide is overridden by a hard-coded variable https://github.com/PrefectHQ/prefect/blob/0.15.9/src/prefect/agent/docker/agent.py#L572

The variables that ar

[2021-11-23 16:52] madkinsz commented on #4963
So this confirms for me that the host-gateway is being populated properly. The issue now is that docker does not appear to be allowing internal connections when bound to 127.0.0.1. I believe @MrJack91 may be right that we'll want to set the connection url to `apollo` rather than `localhost` and it'll work. I'm not sure there's a real way to do that as the environment determination is written thoug

[2021-11-23 17:05] madkinsz commented on #3963
👍 we're investigating a Ray executor for Orion. We will not be implementing one for Prefect 1.0.

[2021-11-23 17:40] lbhtran commented on #4618
Hey, I'm not entirely sure how to use the idempotency_key. If you can give me a bit more direction, it would be great.

I've also noticed that eventhough the flow version was increased, there is no new flow saved to the Azure blob storage. The overwrite option seems to work as intended. It just the version number still get increased

[2021-11-23 17:45] MrJack91 commented on #4963
@madkinsz Thanks for pointing this out again. I see your point, but I guess we can't set the PREFECT__SERVER__HOST for also the agent, because the agent itself is not running in docker (and the agent does also have to find the apollo).
If I set something like:
[code]

I got this while the agent is starting:
[code]
I guess the agent will notify the prefect-server that he was starting and this will

[2021-11-23 19:46] madkinsz commented on #4618
The idempotency key is what determines if the version should be skipped. If the key matches between repeated registration calls, then a new version is not registered. You could set this key to a hash of the file containing your flow, for example, to only have it register a new version when the contents of the file changes. You could set it to a constant value `FLOW_VERSION=1` `flow.register(idempo

[2021-11-23 20:47] madkinsz commented on #4963
Here's a real fix: https://github.com/PrefectHQ/prefect/compare/agent-docker-fix
You can install to test with `pip install git+https://github.com/PrefectHQ/prefect@agent-docker-fix#egg=prefect`

[2021-11-23 21:16] nikhil-sthalekar commented on #3963
Awesome!  I just started looking into Orion and I'm super excited about it!

[2021-11-23 23:00] nikhil-sthalekar commented on #3963
@madkinsz I have a question about the Ray executor that you are investigating for Orion. It seems like the Ray team is integrating a lower level [Workflow](https://docs.ray.io/en/latest/workflows/concepts.html) suite that directly integrates with Ray. Any chance Orion would have a way to integrate tightly with this? The Ray team does not seem to have a scheduler in the works so it would be awesome

[2021-11-23 23:43] madkinsz commented on #3963
@nikhil-sthalekar the short answer is: probably not. Integrating tightly with another workflow system is generally going to cause more pain than it's worth. Their workflow manager is also still quite basic and in an alpha stage. The first iteration of a Ray executor from us would likely work the same as all of our other executors: just managing execution of a single task.

[2021-11-24 02:38] andersglindstrom commented on #4963
@madkinsz Thanks!

[2021-11-24 03:51] Jacob-Barhak commented on #4787
Thanks @madkins

Indeed the issue was with docker. I reinstalled a new version of docker right now on my Windows machine and the issue was resolved. I can now see the server via the local host as per instructions.
![image](https://user-images.githubusercontent.com/1986155/143171509-8678dcac-2827-4475-8fde-eff00b4a4188.png)

Many thanks for this reply. And you can close the issue if @BKuasney does

[2021-11-24 07:39] MrJack91 commented on #4963
@madkinsz Thanks a lot for your help, explanations, and fix.
Sadly we do not have the current version on our systems. So we will test it when it is released.

Or @andersglindstrom could you test it?

[2021-11-24 07:41] BKuasney commented on #4787
Hmm, ok. My goal was to try to not install prefect on k8, so I could use only docker file and deploy this docker file (that means a docker file calling prefect docker file, which is not the best approach, but I wanted to try anyway). But, I think the best approach would be via k8 indeed.

btw, I found this repo that kinda helped me to try that, was the closest I got to achieve this goal, but I thi

[2021-11-24 10:26] MrJack91 commented on #5075
FYI:
We guess this happens when you use a storage type that rebuilds a flow in a combination of a generic flow.
Then if the flow to run and the registered are not the same (e.g. additional dependencies) it will crash at the end of the flow with this error.

I'm not sure if there is an inbuilt check if the flow definition matches the one which is registered.
On top of that if you use generic flows

[2021-11-24 16:14] kvnkho commented on #4787
Hey @Jacob-Barhak, feel free to e-mail me at kevin@prefect.io or message me on the community Slack. Always happy to demo Prefect at Meetups/Conferences.

[2021-11-24 16:16] #4787 closed

[2021-11-24 17:53] panasenco opened #5170 "Failed mapped tasks lose inputs on flow restart"
## Description
When a mapped task fails, and the flow is subsequently restarted, the failed mapped task's inputs are lost, so it's impossible for it to succeed.

## Expected Behavior
I expect the mapped tasks to not lose their inputs on failure, so that it's possible for them to succeed on restart.

## Reproduction

I created this test example where a mapped task will abort randomly with a coin fl

[2021-11-24 20:12] anna-geller opened #5171 "Adding a timedelta to the `scheduled_start_time` in the `create_flow_run` task"
## Current behavior

If the user creates a child flow run from a parent flow, but wants this child flow run to be scheduled further away in the future, currently it wouldn't work, since the value of the `scheduled_start_time` would be frozen at registration. This has been requested as part of this thread in the community Slack: https://prefect-community.slack.com/archives/CL09KU1K7/p16377781822892

[2021-11-24 21:27] andersglindstrom commented on #4963
I've just tested it. It works! Thanks so much @madkinsz

[2021-11-25 11:50] #5146 closed

[2021-11-25 14:46] anna-geller opened #5172 "Great Expectations task seem to be incompatible with the new V3 API"
## Current behavior
Since Great Expectations introduced breaking changes in their V3 API, we may need to either update the current tasks or introduce new ones that will reflect their new API. Several links from the docstrings don't work because of the deprecation and breaking changes on the GE side. Tutorials are now available [here](https://github.com/superconductive/ge_tutorials)

This issue #44

[2021-11-26 09:45] tekumara opened #5174 "explicit exports for symbols used in flows"
## Description

[code]

Generates the following pyright errors:

[code]

pyright (and therefore vscode) considers these symbols private based on [these rules](https://github.com/microsoft/pyright/blob/main/docs/typed-libraries.md#library-interface).

[PEP 008](https://www.python.org/dev/peps/pep-0008/#id50) states modules should explicitly declare the names in their public API using the `__all__`

[2021-11-26 09:46] tekumara commented on #5174
The impact of this issue is that we cannot use pyright on our flow codebases.

[2021-11-26 16:45] anna-geller commented on #5172
I followed the V3 tutorial up to the point that a checkpoint has been created.

[code]

Then, I tried using this simple flow with the previously configured checkpoint on GE with the V3 API:
[code]
This results in the following error: `TypeError: 'Checkpoint' object is not subscriptable`
The entire output:
[code]

[2021-11-26 18:26] jbowlen commented on #3375
Is it foreseeable when powershell scripts can be executed?

[2021-11-26 19:51] madkinsz commented on #3375
I'd be happy to review a pull request adding this functionality, but cannot provide a timeline for our team looking into it.

[2021-11-27 15:38] s-mawjee commented on #5101
The mapped tasks are seen as a single task (in `self.tasks`) thus the `task_run_id` is the same for each mapped task.

[code]

We could append the `map_index` to the end of the generated blob name, as a simple workaround.

[code]

[2021-11-28 21:26] anna-geller commented on #5172
Testing the V2 API:

When using great_expectations==0.12.0 and prefect==0.15.9, and disabling markdown artifact, the default example from the docstring seems to work:
[code]

But when `disable_markdown_artifact=False`, I was getting this error:
[code]

When trying to run the validation with a checkpoint, it also worked on GE==0.12.0 on their V2 API, but only when markdown was disabled:
[code]

Whe

[2021-11-29 00:13] tekumara commented on #5174
Or we downgrade to before [pyright 1.1.168](https://github.com/microsoft/pyright/releases/tag/1.1.168)

[2021-11-29 16:36] #4540 closed

[2021-11-29 16:44] madkinsz commented on #5174
We do not support pyright and I'm hesitant to make changes to accommodate it. If you want to do a PoC of resolving these errors with minimal changes, I'm willing to consider it. I think the easiest solution is to just use the pyright configuration to change these from 'error' to another level.

https://github.com/microsoft/pyright/blob/main/docs/configuration.md

[2021-11-29 16:56] madkinsz commented on #5101
Does this reproduce when the flow is run via Cloud/Server? I suspect this is an issue with the "fake" ids that are generated for local runs.

[2021-11-29 18:38] cicdw commented on #900
Closing as stale given our migrations to new doc tooling

[2021-11-29 18:38] #900 closed

[2021-11-29 23:22] tekumara commented on #5174
Ah yes, we could disable `reportPrivateImportUsage` in the meantime.

FYI: mypy also errors for the same reason when using `--strict`:

[code]

[2021-11-30 17:09] aripollak commented on #5174
@madkinsz according to https://github.com/microsoft/pyright/blob/main/docs/typed-libraries.md#library-interface, it wouldn't consider these modules as private if they're imported like `from .core import Task` instead of `from prefect.core import Task`. If I made a PR to change these, would that be an acceptable fix?

[2021-11-30 17:43] madkinsz commented on #5174
We use absolute path imports like that everywhere so I'd prefer not. You could add an `__all__` definition to the main `__init__` file though.

[2021-11-30 18:46] madkinsz commented on #5092
Leaving this issue open following #5095 so we can:
- Add actual flows to register instead of just saying to have "A", "B", etc. registered already
- Add `get_task_run_result` examples
- Add parameter passing

https://github.com/PrefectHQ/prefect/blob/master/src/prefect/tasks/prefect/flow_run.py#L5-L40 could be extended for this purpose

[2021-11-30 20:50] aripollak commented on #5174
Hm, are you sure you'd rather use `__all__`? It seems like that would more easily become out-of-date.

[2021-11-30 21:27] adrian76 opened #5184 "Error on example in 2.0a5"
It looks like the SQLLite 'flow' table is not being created - tried in 2.0a5 and 2.0a4:

`from prefect import flow

@flow
def my_favorite_function():
    print("This function doesn't do much")
    return 42
my_favorite_function()
%history
`

Gives this:

from prefect import flow

@flow
def my_favorite_function():
    print("This function doesn't do much")
    return 42
my_favorite_function()
%hist

[2021-11-30 21:36] madkinsz commented on #5184
Hey @adrian76 you can use ``` to format a code block. It looks like the error is missing as well. Running `prefect orion reset-db` should resolve this, but I'm not sure without more information.

[2021-11-30 21:40] adrian76 commented on #5184
Thanks - I'm stuck in an hg world so don't use git hub.  Also, got an error that resolved by upgrading "typer" when running the reset command - not sure if that dependency should be updated.  After a pip install --upgrade typer it went away.

[code]

[2021-11-30 22:17] madkinsz commented on #5184
Do you know what version of typer you had before you upgraded? I've never gotten that but it certainly looks like a typer/click version mismatch.

[2021-11-30 22:26] tekumara commented on #5174
The other way to signal a symbol is exported is with a redundant module alias, eg:
[code]

[2021-11-30 22:35] adrian76 commented on #5184
pip freeze|fgrep typer
typer==0.4.0

On Tue, Nov 30, 2021 at 5:17 PM Michael Adkins ***@***.***>
wrote:

[2021-12-01 12:48] adrian76 opened #5186 "Orion: Can't return a pandas DataFrame from a task"
## Description

Returning a simple pandas DataFrame from a task fails - it appears that in states.py if what is returned is an iterable, it expects it to be a list of states.  Since DFs are iterable, it fails.

## Reproduction / Example

[code]

[code]

[2021-12-01 16:20] madkinsz commented on #5186
Thanks for the report! This was fixed by https://github.com/PrefectHQ/orion/pull/640 and will be in the next alpha.

[2021-12-01 16:25] madkinsz commented on #5184
Interesting, that's the same version I have and I've never seen that error.

Are your database issues resolved now?

[2021-12-01 17:05] madkinsz commented on #5174
I believe `__all__` is the most inline with Python convention here. If you're going to contribute a fix, I'd appreciate if it was to `1.0.0-rc1` branch as that should be the stable API going forward and will not change for quite some time.

[2021-12-01 18:00] adrian76 commented on #5184
Yes, it is. The reset worked.  That was from a clean install thought so not
sure what the issue was. I know the stacktrace didn't print, basically, the
flow table didn't exist in tthe schema but all good now.

On Wed, Dec 1, 2021 at 11:25 AM Michael Adkins ***@***.***>
wrote:

[2021-12-01 18:13] madkinsz commented on #5184
We've had some issues in the past but I thought we'd sorted out all of the fresh install database problems. Definitely feel free to open a new issue if you encounter anything else!

[2021-12-02 11:36] anna-geller opened #5188 "Storage options should be moved from the "Legacy Environments" section to its own "Storage" section"
https://docs.prefect.io/orchestration/execution/storage_options.html#local
![image](https://user-images.githubusercontent.com/86264395/144414795-cb559e1f-07f9-4988-a227-e0e51aafcdf2.png)

[2021-12-02 16:04] thomasfrederikhoeck opened #5189 "k8 agent doesn't cleanup after upgrading to 0.15.10."
## Description
After upgrading to 0.15.10 and enable `kubernetes_keep_alive` I start getting the following error message and the completed jobs don't get cleaned up. I might suspect it doesn't do the management of the jobs in general but I haven't confirmed this. I suspect it is related to #5066 as it started when upgrading from 0.15.7 to 0.15.10

[code]

## Expected Behavior
No error and remove o

[2021-12-02 18:52] #4963 closed

[2021-12-03 05:49] utapyngo commented on #1833
I would like to see a paging example that runs not only locally but also using the prefect server.

[2021-12-03 12:25] bnaul commented on #5189
@thomasfrederikhoeck I was running into the same thing and it turned out to be related to authentication: specifically what @madkinsz pointed out [here](https://github.com/PrefectHQ/prefect/issues/5147#issuecomment-969270693) about mixing API keys and tokens. When I created new keys for everything issues resolved themselves.

[2021-12-03 14:25] anna-geller opened #5195 "Validate whether EXTRA_PIP_PACKAGES can be used with all agents and document it"
## Description
Based on [this Slack community thread](https://prefect-community.slack.com/archives/CL09KU1K7/p1638526403296900) the user was facing some issues when trying to install packages at flow runtime in an ECSRun.

[code]

## Expected Behavior
- test with which agents this pattern can be used and document it

[2021-12-03 15:39] madkinsz commented on #5195
This is not an agent feature, but rather a feature of the prefect docker image. If the user overrides the `ENTRYPOINT`, it will not work. If the user is using their own image, it also will not work.

[2021-12-03 16:40] ConstantinoSchillebeeckx commented on #4995
@madkinsz I ended up [implementing](https://github.com/sphinx-contrib/prefecttask) this and submitting it to sphinx-contrib

[2021-12-03 16:40] ConstantinoSchillebeeckx commented on #2551
I ended up [implementing](https://github.com/sphinx-contrib/prefecttask) a sphinx extension for this.

[2021-12-03 18:16] madkinsz opened #5196 "Schedule details are not displayed for types other than `IntervalSchedule`"
## Description

Deployments with other schedule types like `CronSchedule` will be created but not be displayed in the Deployments tab on the UI

## Reproduction / Example

[code]

[2021-12-03 18:16] madkinsz commented on #5196
Tracking at https://github.com/PrefectHQ/orion/issues/658

[2021-12-03 18:19] zanieb opened #5197 "SQLite minimum version is not correct"
## Description

Listed as 3.24 in the documentation, but CTE errors will be encountered

[code]

Tracking at https://github.com/PrefectHQ/orion/issues/659

[2021-12-03 18:30] madkinsz commented on #5196
The deployments will appear in the UI in the next alpha but the details of the schedule will not display nicely. Updating the issue to reflect adding a nice string description of the schedule.

[2021-12-03 19:55] kvnkho opened #5198 "Graceful Exit when Encountering SIGTERM Signal"
## Current behavior

When a Flow is hit by a SIGTERM, the process just dies without marking itself as failed. The heartbeats will then die and then the Flow will eventually be marked as failed. This takes some time though and having it be immediate would be helpful in restarting the work.

## Proposed behavior

The request is for some kind of SIGTERM handler that can mark the Flow and tasks as FAI

[2021-12-03 22:26] TilakMaddy opened #5199 "google-cloud-aiplatform is no longer maintained - Docs Issue"
Hello!

I've found an issue here:`conda install -c conda-forge prefect google-cloud-aiplatform`

Page reference: https://docs.prefect.io/orchestration/agents/vertex.html

I guess pip is the only option, not conda

[2021-12-05 11:49] s-mawjee commented on #5101
I was not able to reproduce the issue when using a Kubernetes Agent - upload was successful with each file having a unique name.

I'll have a look at the generated "fake" ids.

[2021-12-06 08:41] novotl commented on #5198
Thank you for creating this issue. I want to provide a specific context for our use case.

We're self hosting Prefect server and we use the Kubernetes agent to run flows as Kubernetes jobs. We're using AWS Spot instances to run these jobs. These spot instances may terminate at any time, but they send a notice. We would like to use this 2 minute window before termination to send SIGTERM to the flow

[2021-12-06 09:53] thomasfrederikhoeck commented on #5189
@bnaul @madkinsz deleting old jobs, and switching to api keys solved it. Thank you.

[2021-12-06 09:53] #5189 closed

[2021-12-06 16:09] madkinsz commented on #5199
For those who encounter this, the error is

[code]

I do not see any history of this package in conda.

[2021-12-07 03:43] meehawk commented on #4922
@kvnkho can I take this up. This is going to be my first at Prefect

[2021-12-07 03:45] meehawk commented on #4386
@kvnkho I'd like to take this up. However, I'm slightly confused by the nature of discussion as to what needs to be done. Any guidance would be awesome!

[2021-12-07 06:04] madkinsz commented on #4922
Yep @meehawk feel free

[2021-12-07 06:50] kvnkho commented on #4386
Hi @meehawk, thanks for the interest! I can scope this out better for you. There are just some variations of Storage and RunConfig I need to get straightened out (should not take too long for me). @jakekaplan , did you ever look into this? Just wanna make sure you didn't attempt yet.

[2021-12-07 06:59] #4977 closed

[2021-12-07 07:06] kvnkho commented on #4973
Hello,

Sorry it took a while to give you a response. The more Prefect way to do this would be to make `get_values()` a task and then use mapping instead of the for loop. Task execution is deferred for runtime but this function is evaluated during registration time. That's why there is a mismatch. When your flow runs, this will run again with a new random number calling the mismatch.

You can inst

[2021-12-07 07:10] #4960 closed

[2021-12-07 07:13] kvnkho commented on #4789
Will close this issue as it seems #4786 fixes it but feel free to reopen.

[2021-12-07 07:13] #4789 closed

[2021-12-07 07:18] kvnkho opened #5204 "Lack of a Descriptive Error When Logged In with Another API Key"
## Current behavior

If a user is current logged in with an API Key, and they try to do:

`prefect auth login --key <MY_KEY>`

They get an error

`Unauthorized. Invalid Prefect Cloud API key.`.

They need to do `prefect auth logout` before the new API key can be used.

## Proposed behavior

The error could suggest that maybe they need to use `prefect auth logout`.

[2021-12-07 14:21] jakekaplan commented on #4386
@kvnkho nope I hadn't yet!

[2021-12-07 16:32] dylanbhughes opened #5205 "Docs Issue: Add Automations reference to cloud hooks"
Hello!

I've found an issue here:`Cloud hooks Cloud
Users of Prefect Cloud have access to something called Cloud Hooks which is a way of configuring notifications based on state changes without having to write any code for the tasks or flow itself. Cloud Hooks are the only guaranteed way of getting notifications because they have no reliance on your code and are managed entirely on the Prefect Clo

[2021-12-07 16:33] kvnkho commented on #4386
Ok @meehawk I am honestly starting to doubt if this is a "good first issue", but we can try. I also sensed you found this from the label, so I added a couple more labels in the repo last night. The hard part with this one is that there isn't a simple place to change an error message. Not sure how much you've used Prefect, but if anything below does not make sense and you still want to pursue this,

[2021-12-07 17:04] jeanluciano opened #5207 "Mismatching imports in the docs"
In the KV store and the artifacts section, the provided way of import is inaccurate.

For the KV_store it is missing the .kv_store in the import.

https://github.com/PrefectHQ/prefect/blob/master/docs/orchestration/concepts/kv_store.md?plain=1#L22

`from prefect.backend.kv_store import {funtion}`

For the artifacts the import comes from prefect.

https://github.com/PrefectHQ/prefect/blob/e9e3acdaf

[2021-12-07 18:48] tpdorsey commented on #5207
@jeanluciano Can you confirm the artifacts import. As documented matches the current API docs and my code.

[2021-12-07 19:08] madkinsz commented on #5207
The kv store functions are indeed exposed at `prefect.backend`: https://github.com/PrefectHQ/prefect/blob/master/src/prefect/backend/__init__.py

[2021-12-07 19:29] tpdorsey commented on #5207
PR to fix https://github.com/PrefectHQ/prefect/pull/5208

[2021-12-08 03:25] meehawk commented on #4386
@kvnkho thank you so much. Trying to make a sense out of it. I think I am starting to understand it a bit. It does appear daunting for a first issue. However, you are OP given you've explained it so beautifully. Definitely hit you up on Slack to see if I get stuck

[2021-12-08 03:28] meehawk commented on #5204
@kvnkho would love to take this up. Seems manageable (while I brainstorm over the #4386)

[2021-12-08 04:10] kvnkho commented on #5204
Actually sorry @meehawk, I tried to replicate this myself just now but could not. Let me know if you can.

You can try:
1. Creating an account with Prefect Cloud at cloud.prefect.io , we have a very generous free tier so you shouldn't have to put a credit card
2. Go to service accounts under Team in the navigation bar
3. Create a service account
4. Create an API Key
5. Login with `prefect auth log

[2021-12-08 04:12] meehawk commented on #5204
Ahh @kvnkho I'll try to follow the steps you've put 🤓

[2021-12-08 04:35] kvnkho commented on #4994
I think this is an artifact of how the API docs are built and can't be really changed. What we can do though is make the effort to ensure that the non-API docs have the simplified import if ever there are places with the longer import.

I don't really see any immediate action to take so I will close this issue for now, but do feel free to re-open if you feel otherwise.

[2021-12-08 04:35] #4994 closed

[2021-12-08 04:37] kvnkho commented on #2446
This issue is stale and likely not relevant anymore given that environments are deprecated.

[2021-12-08 04:37] #2446 closed

[2021-12-08 04:40] kvnkho commented on #4639
This effort has now been moved to Orion. At the time of this issue, Orion was not public.

There is a good example of a blog [here](https://www.prefect.io/blog/you-no-longer-need-two-separate-systems-for-batch-processing-and-streaming/).

Will close this issue for now, but feel free to raise it again when Orion becomes stable.

[2021-12-08 04:40] #4639 closed

[2021-12-08 04:49] kvnkho commented on #4536
I believe this issue has been fixed already with regards to input of parameters in the UI. I am not sure we want to override parameters with env vars.

The second request is also currently easily doable if you have an intermediate task that checks for the env var and changes the parameter value.

[2021-12-08 04:49] #4536 closed

[2021-12-08 04:54] kvnkho commented on #5034
We now have launched our official partnership program and have badges to indicate which ones are official.

An example of this can be found here:
https://docs.prefect.io/api/latest/tasks/airbyte.html

[2021-12-08 04:54] #5034 closed

[2021-12-08 04:56] kvnkho commented on #1965
The [Snowflake](https://docs.prefect.io/api/latest/tasks/snowflake.html) task has since been updated to support this

[2021-12-08 04:56] #1965 closed

[2021-12-08 04:58] #1821 closed

[2021-12-08 05:00] kvnkho commented on #4978
This label seems to exist now [here](https://docs.prefect.io/orchestration/concepts/automations.html) so it must have been added. Closing this issue.

[2021-12-08 05:00] #4978 closed

[2021-12-08 05:03] kvnkho commented on #5145
@kmoonwright , I think this is a good issue for you?

[2021-12-08 05:09] kvnkho commented on #4973
I will close this issue for now because there isn't anything quite actionable for us. This behavior is expected due to the nature of build-time and run-time separation that workflow orchestration tools have. There is code that is being evaluated during the build time (the for loop and random number generation). This is then inconsistent with the runtime execution.

In summary:
1. map is a better s

[2021-12-08 05:09] #4973 closed

[2021-12-08 05:58] #5172 closed

[2021-12-08 06:39] yin-aven opened #5209 "Setting Flow storage will automatically update result storage, and turn on checkpointing"
## Description

`with Flow("test", storage=Local()) as flow:
      some_task_with_data_returned()
`

You will notice ~/.prefect/results/ have new files each time you run this test flow.

`with Flow("test", storage=S3("my-bucket")) as flow:
      some_task_with_data_returned()
`

you will notice s3://my-bucket/2021/<mo>/<day>/ with files uploaded each time you run the flow

You can't turn this chec

[2021-12-08 06:53] yin-aven opened #5210 "ECS agent cannot use FARGATE_SPOT because launchType is always set"
https://github.com/PrefectHQ/prefect/blob/4a739a77d170fa990a076ab45d8ef6d9cc057551/src/prefect/agent/ecs/agent.py#L171

This prevents us from using capacityProvider to launch tasks on Fargate spot, for which launchType does not support.

[A task can use either a launch type or a capacity provider strategy. If a launchType is specified, the capacityProviderStrategy parameter must be omitted.](https

[2021-12-08 12:19] eli-osherovich opened #5211 "ORION: cannot insert into a non-existing table"
Hello.
For some reason `orion` fails while trying to `insert` into a non-existing table.
Below please find the error that happens when running an example from the tutorial. A similar error happens when I try to run `perfect start orion`, but the table name is different of course.

[code]

[2021-12-08 14:53] meehawk commented on #4976
@kvnkho Stumbled upon this. From my understanding, the docs need to be updated to remove the 24 hour TTL and instead mention that the workflow wouldn't be rerun unless a new idempotency key is used correct?

[2021-12-08 15:18] kvnkho commented on #4976
That is exactly right!

[2021-12-08 16:30] madkinsz commented on #5211
Hi @eli-osherovich -- running `prefect orion reset-db` should resolve this.

Was this a fresh installation? What version do you have?

[2021-12-08 16:49] kvnkho commented on #5204
@meehawk ,

I talked to the person who reported it @TilakMaddy and I was able to replicate it. You need two different accounts.

1. Log-in with API key in account 1
2. Create API key with account 2
3. Try to log-in with account 2 API key

I don't know if you're familiar with `click` the Python library to create CLIs but the place to start would be [here](https://github.com/PrefectHQ/prefect/blob/m

[2021-12-08 16:55] #4402 closed

[2021-12-08 17:01] kvnkho commented on #5210
Related to #4356

[2021-12-08 17:04] madkinsz commented on #5204
I think that it probably ought to just log them in with their new key. There shouldn't need to be a logout step here.

Is this reproducible on the `1.0.0-rc1` branch? It might have something to do with the token support.

[2021-12-08 20:32] TimoVink commented on #5211
I'm not the reporter of this issue, but I was having the same issue. My particular set of steps:

1. Ran `pip install -U "prefect>=2.0.0a"` as per the [the instructions](https://orion-docs.prefect.io/getting-started/installation/)
2. Confirmed with `prefect version` that I had `2.0a5`
3. Saw the note about `sqlite` at the bottom of that page, so ran an `apt install sqlite` (which _did_ install new

[2021-12-08 20:45] tpdorsey commented on #5207
On further research, while the imports in the docs are mismatched, the imports work as documented.

[2021-12-08 21:11] yin-aven commented on #4356
Got redirected from #5210 .  Just want to comment on the PR that we don't want to drop networkConfiguration because we want to launch jobs to specific subnets that give us static public IP addresses.  I don't think networkConfiguration is causing any conflict with capacity provider.  Only launch type does.

[2021-12-08 23:05] madkinsz commented on #5211
Thanks for the additional report! We've attempted to fix database creation a couple of times now but there appear to be some edge-case environments in which the tables are not created at startup. I think it will always work if you run `prefect orion start` first but there may be issues with ephemeral runs before the database has been created.

[2021-12-08 23:32] madkinsz commented on #5211
Another fix for this should be in the new alpha :)

Internal tracking at https://github.com/PrefectHQ/orion/pull/684

[2021-12-09 07:39] eli-osherovich commented on #5211
Actually no. Running `prefect orion start` fails with a similar error: cannot insert into a non-existent db.

[2021-12-09 12:38] anna-geller opened #5216 "API_ERROR when trying to delete an idle agent using UI and GraphQL API"
## Description
Reported via [this Community Slack thread](https://prefect-community.slack.com/archives/CL09KU1K7/p1639051352191200)

The user gets the following API_ERROR:

![image](https://user-images.githubusercontent.com/86264395/145396504-8a0da622-f4b9-4fa8-9758-5a8ad6352c46.png)

![image](https://user-images.githubusercontent.com/86264395/145396469-f6fdb6aa-687c-45f1-ab95-85467431349b.png)

U

[2021-12-09 17:30] kvnkho opened #5217 "Prefect merge checkpointing can't be turned off"
## Current behavior

If you use `merge` like this:

[code]

It will checkpoint result even if `result_A` and `result_B` have checkpointing turned off.

`merge` is actually not a Task. It calls the real `Merge` task [here](https://github.com/PrefectHQ/prefect/blob/master/src/prefect/tasks/control_flow/conditional.py#L130-L169). This doesn't provide the user with a place to pass `kwargs` into the re

[2021-12-09 18:53] kvnkho commented on #4922
Thanks for getting the contribution in @meehawk

[2021-12-09 18:53] #4922 closed

[2021-12-09 18:53] meehawk commented on #4922
Thanks to you @kvnkho . Hopefully many more on the way

[2021-12-10 04:27] kvnkho commented on #5209
Hey @yin-aven ,

You are exactly right on this one. Running with a backend such as Prefect Cloud or Prefect Server will override this environment variable and checkpoint, so this has to be set on every task.

I will mention though that there is a nice solution here. Checkpoints are there to give you retries in the event of Flow failure. What I've seen some users do is specify the `location` of the

[2021-12-10 06:25] yin-aven commented on #5209
Thanks for the tip @kvnkho .

I completely understand the benefits of checkpointing.  But automatically switching by flow storage can be very confusing.  I encountered two problems and it took me quite a while to figure out what's going on.

1. data processing tasks frequently return large data.  With home network it takes forever to upload the results to S3 but using local storage or running from

[2021-12-10 10:06] jhemmingsson commented on #5139
This would be a great feature, indeed! +1

[2021-12-10 15:54] th0ger commented on #5017
In prefect clound:
[code]
returns after only 3 seconds:
[code]

[2021-12-10 18:54] madkinsz commented on #5017
Hi! Unbounded aggregate counts like this are not performant and the database query time limit will often be encountered.

[2021-12-10 20:38] th0ger commented on #5017
The query above being limited to a single month also fails.

[2021-12-11 01:32] meehawk commented on #5217
@kvnkho can I take this up?

[2021-12-11 01:43] meehawk commented on #5204
@kvnkho I was just going to ping you saying that I had difficulties replicating this. Totally missed your new comment on the issue

[2021-12-11 02:24] #5207 closed

[2021-12-11 02:25] tpdorsey commented on #5207
Both long and short imports work, and imports work as documented. Tested against 0.15.10

[2021-12-11 03:49] kvnkho commented on #5217
You should be able to yep! Just pass through the kwargs and make a test that it was set. I can advice after a first attempt or if you have any questions.

[2021-12-11 04:54] kgeis opened #5222 "Docs Issue: misspelling in Server Overview"
Hello!

I've found an issue here:`Ultimatey` should be `Ultimately`.

Page reference: https://docs.prefect.io/orchestration/server/overview.html

[2021-12-11 16:06] TilakMaddy commented on #5204
But sometimes you wanna be logged in, in 2 accounts. (1 Local agent servicing 2 different accounts in cases that involve shared execution environment)

[2021-12-12 07:50] #5211 closed

[2021-12-12 11:16] eli-osherovich opened #5224 "ORION: memory explosion"
It seems that Orion consumes much more memory than the previous version. The same flow works fine with the older version (`0.15.10`) but eats up all the memory in Orion.  This is a very simple local flow.

[2021-12-12 16:03] shearer12345 opened #5225 "AmazonECSTaskExecutionPolicy should be AmazonECSTaskExecutionRolePolicy in Docs"
Hello!

In the [ECS docs, on the Execution role arn](https://docs.prefect.io/orchestration/agents/ecs.html#execution-role-arn) `AmazonECSTaskExecutionPolicy` should be `AmazonECSTaskExecutionRolePolicy` - as given in [AWS ECS task execution docs](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_execution_IAM_role.html), and demonstrated in @anna-geller's [ECS gist](https://gist.git

[2021-12-12 17:44] TilakMaddy opened #5226 "You can no longer create project with GraphQL Docs Issue"
Hello!

I've found an issue here:

`GraphQL GQL To create a new project with GraphQL, issue the following mutation:`

[code]

When I execute it, this is what I get

[code]

Page reference: https://docs.prefect.io/orchestration/concepts/projects.html

[2021-12-12 20:56] TilakMaddy commented on #5226
I found the right way

[code]

[2021-12-12 20:56] #5226 closed

[2021-12-13 15:18] madkinsz commented on #5224
Hi @eli-osherovich, you'll need to provide some more details here. Preferably, a small example flow with demonstrated memory consumption differences. That said, we've not spent any time optimizing memory consumption in Orion yet. We will do so before it is a stable release.

[2021-12-13 15:34] madkinsz commented on #5204
We don't support being logged into two accounts at once. Agents are quite lightweight and running two local agents should not add significant overhead. You can use environment variables instead of the `login` command e.g. `PREFECT__CLOUD__API_KEY=foo prefect agent local start`

[2021-12-13 18:38] madkinsz commented on #3706
We're implementing this in Orion, so I'll close this for now.

[2021-12-13 18:38] #3706 closed

[2021-12-14 03:57] xuevin opened #5230 "Improve dask-scheduler memory management of Prefect `State` objects"
## Description
The dask-scheduler uses `dask.sizeof` to manage memory for scaling and work distribution. Tasks which return a large payload can cause scheduling to stall, or may cause workers to exit. This can be better managed by giving the scheduler awareness of the payload sizes.

## Expected Behavior
`State.__sizeof__()`  should be defined to return the number of bytes stored in the object.

#

[2021-12-14 15:41] madkinsz commented on #5230
This seems reasonable, I'd review a PR that adds a basic sizeof implementation.

[2021-12-14 17:41] #4976 closed

[2021-12-14 19:23] chrishinds commented on #4988
definitely +1. I also just went down the state handler route. Would love a cleanup solution!

[2021-12-14 23:12] aripollak opened #5234 "Consolidate data persistence documentation"
## Current behavior
It seems that there are currently at least 3 pages about results:
https://docs.prefect.io/core/concepts/persistence.html
https://docs.prefect.io/core/concepts/results.html
https://docs.prefect.io/core/advanced_tutorials/using-results.html

There's a lot of overlapping information, but I'm not sure if one is more correct than the others.

## Proposed behavior
Ideally there'd be

[2021-12-15 01:46] kvnkho commented on #5234
Thank you for the suggestion @aripollak . There are indeed multiple pages where the same thing is mentioned. To answer you quickly though,

1. Results is a subset of persistence. Results alone can be used for checkpointing, the mechanism to restart flow runs from the point of failure by loading in data from completed steps. This is confined to a single flow run.
2. Persistence is caching across fl

[2021-12-15 08:10] eli-osherovich commented on #5224
I am passing dicts of pandas' dataframes between the  tasks.

[2021-12-15 14:26] kvnkho opened #5235 "Azure BlobStorageUpload doesn't allow for overwriting blobs"
## Current behavior

You get an error if you try to upload the same file name

[code]

## Proposed behavior

The task should take in an `overwrite` argument and pass it to [this line](https://github.com/PrefectHQ/prefect/blob/6cd24b023411980842fa77e6c0ca2ced47eeb83e/src/prefect/tasks/azure/blobstorage.py#L131).

[2021-12-15 15:01] madkinsz commented on #5235
See similar implementation in https://github.com/PrefectHQ/prefect/pull/5103

[2021-12-15 15:39] 4bhishek10 commented on #5235
Hey can I please try to solve this problem....?

[2021-12-15 16:08] kvnkho commented on #5235
Go for it @4bhishek10 !

[2021-12-15 19:57] VincentAntoine opened #5236 "Add proxies to slack_notifier"
## Current behavior
`prefect.utilities.notifications.slack_notifier` sends requests to the Slack webhook using `requests.post` without allowing  `proxies={"http": "0.123.456.789"}` to be passed, which is problematic when Internet access must be done through a proxy.

 It is possible to go around this by setting HTTP_PROXY / HTTPS_PROXY environment variables, but this is not ideal / possible when r

[2021-12-15 22:42] anna-geller opened #5239 "Code blocks in the task library docs are not rendered correctly"
## Description
The code blocks from [this markdown file](https://github.com/PrefectHQ/prefect/blob/master/docs/core/task_library/overview.md) are not rendered correctly on [this documentation page](https://docs.prefect.io/core/task_library/overview.html#task-library-in-action).

![image](https://user-images.githubusercontent.com/86264395/146276115-4b83a262-310f-4b5a-b784-252f5f3c5445.png)

[2021-12-15 23:11] zangell44 commented on #5239
This seems to only happen for me when navigating directly to https://docs.prefect.io/core/task_library/overview.html#task-library-in-action

If you navigate via Core Engine -> Task Library -> Overview, the code blocks will render correctly.

This exception in my Chrome console is likely related
[code]

[2021-12-16 08:17] alping commented on #5081
I have this same issue, any update on this?

OS: Windows 10 Enterprise (19042.1348)
Python: 3.10.0
Prefect: Orion 0.15.6+3936.gb1e014675 installed from GitHub (also tested with version 2.0.0a as recommended by the docs)

Error message and steps for reproduction exactly as above:
`OperationalError: (sqlite3.OperationalError) unable to open database file`

Additionally running `prefect orion start`

[2021-12-16 11:05] anna-geller commented on #5239
Yup, I can confirm that.

[2021-12-16 13:35] banuni commented on #3453
hey what about this? `3.10` is already out :P

[2021-12-16 17:33] madkinsz commented on #3453
Hey @banuni we're publishing Python 3.9 docker images now #4896 and Prefect itself fully supports 3.9. We've retained a warning message in the documentation because task library requirements aren't guaranteed to be fully working with 3.9, but generally there should be no issue.

[2021-12-16 17:33] #3453 closed

[2021-12-16 17:35] madkinsz commented on #5081
Hi! We don't support windows yet so I presume this is the issue. There's a tracking issue at https://github.com/PrefectHQ/prefect/issues/5063

[2021-12-16 19:41] madkinsz commented on #5239
cc @znicholasbrown if you have time

[2021-12-17 12:50] th0ger opened #5242 "Docs: Missing expansion `$PYTHONPATH` in `$PYTHONPATH`"
## Description
Following the [Docker storage](https://docs.prefect.io/api/latest/storage.html#docker) documentation:

[code]

If we set the `$PYTHONPATH` in this way, build the flow, and exec into the docker image, we get:

[code]

I.e. we get a *literal* `$PYTHONPATH` string inside the `$PYTHONPATH`.

## Expected Behavior
The original `$PYTHONPATH` should have been expanded by the shell (if exist

[2021-12-17 13:49] anna-geller commented on #5210
I looked at it today and this indeed seems to be a problem. General information I have found:

- `launch_type` will always be displayed as "FARGATE" regardless of whether the capacity provider is FARGATE or FARGATE_SPOT
- there are 2 ways to configure ECS tasks to use FARGATE_SPOT:

1) Make use of the default capacity provider strategy defined when creating a specific ECS cluster. Examples:

[code

[2021-12-17 14:43] tpdorsey commented on #5225
Resolved by https://github.com/PrefectHQ/prefect/pull/5243

[2021-12-17 14:43] #5225 closed

[2021-12-17 15:57] #5236 closed

[2021-12-17 17:02] znicholasbrown commented on #5239
Hm, I can't reproduce this with a dev server so something seems to be happening during the build

[2021-12-17 20:29] znicholasbrown commented on #5239
I managed to reproduce this with the build as well as "fix" the issue. It seems these cells on the `task_library/overview` page are the problem but I can't figure out _why_:
[code]

[2021-12-17 22:22] #5239 closed

[2021-12-18 02:41] meehawk commented on #5222
Hi @tpdorsey can I take this up?

[2021-12-18 03:21] tpdorsey commented on #5222
@meehawk Yes, definitely! Thank you for your work on these doc issues. It's truly helpful.

[2021-12-18 03:23] tpdorsey commented on #4660
Fixed by @fakela in https://github.com/PrefectHQ/prefect/pull/4766

[2021-12-18 03:23] #4660 closed

[2021-12-18 03:25] tpdorsey commented on #4679
Fixed by @fakela in https://github.com/PrefectHQ/prefect/pull/4765

[2021-12-18 03:25] #4679 closed

[2021-12-18 21:05] exotikh3 commented on #5171
I would like to work on this. Will submit PR in the next few days

[2021-12-19 16:35] madkinsz commented on #5171
👍

[2021-12-19 16:41] AlessandroLollo commented on #4950
Kafka tasks docs can be found at https://docs.prefect.io/api/latest/tasks/kafka.html
I think we can close this issue 😊

[2021-12-19 17:00] #4950 closed

[2021-12-19 21:35] Trymzet opened #5250 "`AirbyteConnectionTask.run()` requires parameters that should be optional"
## Description

Some parameters that IMO should be optional in `AirbyteConnectionTask.run()` are required, forcing user to pass eg. `airbyte_server_host` in each task run rather than allowing this to be set up once for all syncs:

![image](https://user-images.githubusercontent.com/23084949/146691402-0b15995a-b93b-479a-815c-5a1006427182.png)

## Expected Behavior

I expect that these parameters cou

[2021-12-20 00:26] Trymzet commented on #5250
I can work on it since I need to improve the task's logging anyway.

[2021-12-20 09:13] chris-aeviator opened #5251 "UI: PREFECT_SERVER__APOLLO_URL has no effect if a browser has saved a previous URL beforehand into localStorage"
## Description
When using docker-compose and setting `PREFECT_SERVER__APOLLO_URL`, the UI still tries to look for graphql on `localhost`

![image](https://user-images.githubusercontent.com/11522213/146742413-055f905c-8604-4002-9905-b3a2990b94d8.png)

## Expected Behavior

When setting `PREFECT_SERVER__APOLLO_URL=http://my-local-graphql.loc:4200/graphql` I expect the UI to take this address to look

[2021-12-20 11:22] BitTheByte opened #5252 "Unexpected error: IndexError('list index out of range')"
## Description

[code]

## Reproduction
As I'll not be able to share the source code here is a pseudo-code of the problem
[code]
I'm moving large lists between tasks

## Environment
[code]

[2021-12-20 17:09] zhen0 commented on #5251
Thanks for the feedback @chris-aeviator.  The question of whether local storage or the  REFECT_SERVER__APOLLO_URL variable should take precedence seems like a subjective one to me and I can see cases where users who have updated via the UI would expect local storage to take precedence.

That said - I can see this would be more confusing if you can not find where to update local storage in the UI a

[2021-12-20 17:19] #5251 closed

[2021-12-20 18:16] meehawk commented on #5217
Looks like @cjmartian already fixed this. Can we close this issue @kvnkho ?

[2021-12-21 14:27] meehawk commented on #5235
@4bhishek10 are you still working on this?

[2021-12-21 22:34] speedyturkey opened #5261 "Prefect API incident disrupted state handler notifications"
## Description
Yesterday, I noticed that a couple of my flows failed due to the Prefect API being unavailable. Additionally, some tasks failed for the same reason, resulting in a couple of flows remaining in a running state for more than 90 minutes (despite having died much earlier). Some of the flows that ran for 90+ minutes ultimately succeeded, although one failed. I posted about this on [Slack

[2021-12-22 00:30] wangjoshuah commented on #1804
Is it possible to schedule flow with required parameters if there is a non-null default?

[2021-12-22 15:37] anna-geller commented on #1804
@wangjoshuah yes, it is possible to schedule a flow run for a flow that has a Parameter task with required parameter that has a default value attached to it. If you have any issues with it, feel free to write us in the prefect-community channel in https://prefect.io/slack

[2021-12-22 16:50] #5222 closed

[2021-12-22 19:00] tpdorsey opened #5270 "Docs: make sure all advanced tutorials are included on the Contents with a description and link"
## Current behavior
(https://docs.prefect.io/core/advanced_tutorials/) list does not include all available tutorials.

It would be good to include description and context for each available tutorial, and consider whether there is a useful order to present them.

## Proposed behavior
At a minimum, update the contents page to include all of the available tutorials.

## Example
While all of the advan

[2021-12-22 20:51] gcasella commented on #4985
Hi everyone!

I have the exact same question, I have a remote dask cluster, I have static data that I'm gathering in a single task, I want to scatter this data across all workers one time before running my .map()

Dask Method, this works as expected. It scatters the big_future1 to all workers.
[code]

Prefect Method
[code]
The goal of the above would be to map() through my set_initial_variables()

[2021-12-22 22:32] gcasella commented on #4985
Please disregard above, i think i have figured it out.

[code]

My two workers report the following;
`Worker #1`
[code]

`Worker #2`
[code]

[2021-12-23 14:57] rmansillasoto commented on #3061
Hello, I've faced this issue while using **alpine** containers for dask. I finally fixed this in two ways....

- Testing inside the container -> `cp /usr/share/zoneinfo/UTC /etc/localtime && echo UTC > /etc/timezone`
- Fixing it at container creation:
   `ENV TZ UTC
     RUN cp /usr/share/zoneinfo/$TZ /etc/localtime && echo $TZ > /etc/timezone`

[2021-12-23 18:42] kvnkho commented on #5252
@BitTheByte had a thread in Slack and this was due to both Hasura and GraphQL endpoint getting unresponsive sometimes. After scaling up, this problem was resolved.

The suggestion is to have an error like: "couldn't access run x result"

[2021-12-23 18:42] kvnkho commented on #5217
Thanks for flagging. Will close!

[2021-12-23 18:42] #5217 closed

[2021-12-24 05:26] tekumara opened #5275 "More meaningful errors when prefect fails to start in kubernetes"
## Current behavior

Prefect only captures logs and errors once `prefect execute flow-run` has started in the pod.

So if a pod fails to start before prefect runs, only a generic error is shown in the UI:
[code]

Kubernetes related errors (eg: problems pulling the container, or container misconfiguration) required diagnosis outside of Prefect.

## Proposed behavior

More meaningful errors when pre

[2021-12-27 20:25] tpdorsey opened #5282 "Docs: enable link checking as a build or CI process"
## Current behavior
Running `npm run docs:dev` builds and serves documentation, but does not have a facility for checking broken/404 internal links within the docs.

I cannot find that Vuepress offers a build option for checking links.

Possibly due to the way Vuepress handles routes, third-party link checking utilities do not correctly crawl the docs to find broken links.

As a result, checking f

[2021-12-28 16:04] tpdorsey commented on #5096
Resolved by https://github.com/PrefectHQ/prefect/pull/5241

[2021-12-28 16:04] #5096 closed

[2021-12-28 21:24] meehawk commented on #5270
@tpdorsey I'd love to take this up!

[2021-12-28 21:24] meehawk commented on #5235
@kvnkho if @4bhishek10 isn't working on this, can I take it up?

[2021-12-28 22:02] tpdorsey commented on #5270
@meehawk Great. Just so you know, the page is built from docs/core/advanced_tutorials/README.md.

Also, I have a PR for removing the deprecated Result Handlers tutorial here: https://github.com/PrefectHQ/prefect/pull/5281

Let me know if you have any questions.

[2021-12-28 22:13] kvnkho commented on #5235
I haven't heard from him so I guess give it a shot!

[2021-12-29 02:55] kvnkho commented on #5090
I just ran into this trying to benchmark the Dask memory stuff. Did you have a workaround @bnaul ?

[2021-12-29 03:04] bnaul commented on #5090
yes, I just pass `client_kwargs=dict(set_as_default=True)` in my executor

[2021-12-29 16:42] #5250 closed

[2021-12-29 19:02] jrich8573 opened #5283 "Typo in the online docs"
## Description
There is a typo in the online docs https://docs.prefect.io/orchestration/getting-started/set-up.html#prefect-cloud-and-serve

## Expected Behavior
It is my belief that this doc should read like this:
*Prefect Cloud and the Prefect Server provide ready-to-use backend for maintaining task and flow state and inspecting their progress regardless of where your task and flow code runs.*

[2021-12-29 22:07] jcfaracco opened #5286 "Prefect is not running using remote Dask cluster"
## Description

I'm trying to run a simple *Prefect* code using a `DaskExecutor` and a remote Dask cluster, but I'm getting an issue with `Pickle` like the one below:

[code]

## Expected Behavior
The code using *Prefect*  and a `DaskExecutor` should run fine without any issue.

## Reproduction

I'm creating a simple Dask cluster (for testing this bug) with 2 workers in a powerful machine using th

[2021-12-29 22:48] cdeil opened #5288 "UI does not display when using development install"
## Description

I tried to follow the instructions at https://orion-docs.prefect.io/ with the current dev version `0.15.6+3937.g30edd16b8`

## Reproduction / Example

I get 404 not found when I run `prefect orion start` and try to access  `http://127.0.0.1:4200/`

This command should bring up a web UI, no?
Any idea why it's not working for me based on the log?

[code]

[2021-12-29 22:54] cdeil opened #5289 "Orion: REST API reference missing"
At https://orion-docs.prefect.io/api-ref/rest-api/#orion-rest-api-reference I currently see
"No operations defined in spec!"

Is there a problem with the docs build? Should there be API docs in that section?

<img width="940" alt="Screenshot 2021-12-29 at 23 54 06" src="https://user-images.githubusercontent.com/852409/147709123-b7b1de13-cb49-417f-b5cb-7a29ceb9b817.png">

[2021-12-29 22:54] madkinsz commented on #5288
Hey @cdeil — if you're not using one of our published releases you'll need to build the UI with `prefect dev build-ui`. I would recommend installing from PyPi instead since this would require you to have npm.

[2021-12-29 22:59] cdeil commented on #5288
Worth mentioning at https://orion-docs.prefect.io/getting-started/installation/#installing-for-development ?

And is it possible to detect the issue and give a warning or error in the log with some indication what the problem is?

I get this error:
[code]

OK, then I'll `pip install -U "prefect>=2.0.0a"`

[2021-12-29 23:08] cdeil commented on #5288
This works for me: pip install -U "prefect>=2.0.0a"

So feel free to close, or if you consider worth doing leave open as a feature request:

1. Clarify https://orion-docs.prefect.io/getting-started/installation/#installing-for-development
2. Give a useful warning or error message if the UI doesn't start because it's not installed

[2021-12-30 01:24] madkinsz commented on #5289
@cdeil thanks for the report! We broke the build process by accident. I believe this is already fixed in the next release but I'll leave this open until then.

[2021-12-30 02:25] cicdw commented on #5289
@cdeil apologies for that, @madkinsz raised this and we have now published a fix!

[2021-12-30 02:25] #5289 closed

[2021-12-31 17:03] BitTheByte commented on #5252
This is caused due to prefect client configuration is which fails after 1 request on a locally hosted GraphQL server vs 6 retires on cloud instances. especially on Kubernetes network stability may get affected due to the workloads thus a similar behavior of the cloud is required to the hosted version.

PR: https://github.com/PrefectHQ/prefect/pull/5292

[2022-01-02 07:52] dohki commented on #3453
Why don't we update this [page](https://docs.prefect.io/core/getting_started/install.html#basic-installation) to avoid confusion?

[2022-01-02 14:05] chris-aeviator commented on #5153
this also happens when trying to register an agent before having a project on the server

[2022-01-03 09:07] spdcoding commented on #3963
@madkinsz Is there a rough schedule (timeline) for supporting ray as executor? Thx

[2022-01-03 15:41] pythi0s opened #5297 "Generating workflow based on external input"
## Current behavior

Currently we have to define tasks using `@task` decorator and later we create workflow using those created tasks, as stated in documentation. This workflow is static i.e. we are calling tasks as a function and passing parameters to create the dependencies between the tasks. It works great!

## Proposed behavior

If you have N tasks defined, instead of defining the workflow sta

[2022-01-03 16:45] kvnkho commented on #5286
Hi @jcfaracco,

I think this is more related to do with how Dask (and distributed compute) behaves rather than Prefect. In order to send to work a cluster, the inputs and function is serialized using `cloudpickle` to minimize network transfer. The reason this works on LocalDaskExecutor is because local Dask is equivalent to a multiprocessing pool, which doesn't require pickling. As Prefect submits

[2022-01-03 17:17] madkinsz commented on #5286
It looks like you're encountering a lack of the `__main__` guard as well

See

- https://github.com/dask/distributed/issues/516#issuecomment-306468605
- https://stackoverflow.com/questions/20222534/python-multiprocessing-on-windows-if-name-main/20222706#20222706
- https://docs.python.org/3/library/multiprocessing.html#multiprocessing-programming

[2022-01-04 13:00] andywaugh opened #5299 "Unexpected error when flattened task fails"
## Description
Something is going wrong when a flattened task fails - this can be caused by a signal FAIL or simply an unhandled exception. Specifically, the `len` call on this line https://github.com/PrefectHQ/prefect/blob/17b885bbae4aa01a9859ff28f9d9cd3623dedc1a/src/prefect/utilities/executors.py#L728 appears to be the issue.

This behaviour only seems to happen when `flatten` is used. If a mapp

[2022-01-05 01:19] tekumara commented on #5174
Fixed in https://github.com/PrefectHQ/prefect/pull/5293

[2022-01-05 01:19] #5174 closed

[2022-01-05 14:54] tpdorsey opened #5300 "Remove unattached concepts overview page"
## Description
This page is unattached and has no useful content, but is still being built and deployed:

https://docs.prefect.io/core/concepts/#best-practices

Source: docs/core/concepts/README.md

## Expected Behavior
This page can most likely be removed from the repo, but please test build behavior without it. It does not appear in the nav, but can be found via search. Poor user experience.

##

[2022-01-05 15:51] cdeil opened #5301 "IntervalSchedule start_date now timezone flow start issue"
## Description

I was scheduling a flow using [IntervalSchedule](https://github.com/PrefectHQ/prefect/blob/d527ab2af11956d0564efbd8543989eab5a981ee/src/prefect/schedules/schedules.py#L197) with a `start_date=now` and it didn't start.

## Expected Behavior

I expected the flow to start now.

## Reproduction

This should start the flow now, right?

[code]

## Explanation

What is happening is that `

[2022-01-05 16:27] anna-geller commented on #5301
@cdeil To solve it, you should use the pendulum package and pass the timezone to your start_date. Additionally, another gotcha is that Prefect cannot schedule flows every X seconds - minutely interval is the lowest we can go.

[code]

LMK if this works for you. Otherwise, feel free to close the issue if this solves it for you.

[2022-01-05 16:55] cdeil commented on #5301
In our production code we're using [pd.Timestamp.now(tz="utc")](https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.now.html) and [pandas.Timedelta](https://pandas.pydata.org/docs/reference/api/pandas.Timedelta.html) for the interval and that works fine. So yes, clearly using tz-aware datetime / pendulum / pandas timestamps is a good solution.

My question here was whether it would be be

[2022-01-05 19:03] kvnkho commented on #5301
We haven't really seen people run into issues on the timestamp on Github and Slack, but I don't think we'd mind adding a small blurb about how timestamps are handled. Where do you think is a good place? The [Schedules]https://docs.prefect.io/core/concepts/schedules.html#schedules) page?

Yes there is a 1 minute limitation in the Prefect code. You will run into it when you register your Flow with `

[2022-01-05 19:29] anna-geller commented on #5301
it's documented [here](https://docs.prefect.io/core/concepts/schedules.html#clocks)
![image](https://user-images.githubusercontent.com/86264395/148277102-1027b126-9444-4c9a-bf0d-a661de459605.png)

[2022-01-05 20:36] madkinsz commented on #5301
We can detect the combination of a naive datetime with non-utc timezone and throw a warning.

[2022-01-06 16:28] tpdorsey opened #5302 "Docs: unresponsive navigation in API docs"
## Description
Seeing an issue with the current docs where if you go directly to the API docs (https://docs.prefect.io/api/latest/) the navigation is unresponsive. If you click on another doc area (such as Core), it’s still not responsive, but if you then refresh, the navigation becomes responsive to clicks again.

## Expected Behavior
Page should change when clicking on any top or side navigation

[2022-01-06 16:32] pleek91 commented on #5302
There's a js error when loading that page. No idea what's causing it. Not familiar with how the docs are generated.

![image](https://user-images.githubusercontent.com/6200442/148416585-248f0dd1-b12b-4cf6-a5cd-f3fe2e82ae13.png)

[2022-01-09 13:58] arcontechnologies commented on #5081
Hi
I'm facing the same issue in Windows 10. As this is not on your scope is there any workaround to get orion.db in .prefect folder. Because it sounds like a showstopper. Nothing can be done so far to test orion.
kr,

[2022-01-09 14:18] arcontechnologies commented on #5063
Hi
I suppose this is the tracking issue. I'm facing the same issue in Windows 10. As this is not on your scope is there any workaround to get orion.db in .prefect folder. Because it sounds like a showstopper. Nothing can be done so far to test orion.
kr,

[2022-01-10 12:21] anna-geller commented on #5299
The issue you are facing is that a Failed task propagates downstream. To use flatten, you would need to use the FilterTask beforehand. Note that FilterTask can filter exceptions, but not signals so it still won't work if you explicitly raise FAIL. But normal use case where a task fails with an exception works fine.

Here is an example showing how the FilterTask filters out the failed mapped child

[2022-01-10 13:51] andywaugh commented on #5299
Thanks for the response and solution, Anna. This still feels like a bug to me then, do you agree?

I would expect in the example you give above for the flow to complete but with a status of FAILED (as opposed to mine which crashed mid-flow) because something did go wrong since one of the tasks failed. However I think your flow is reporting a SUCCESS because the failed task is being filtered out?

[2022-01-10 15:03] kvnkho commented on #5299
Relevant issue: https://github.com/PrefectHQ/prefect/issues/3631

[2022-01-10 16:38] tpdorsey opened #5308 "Docs: update logos in images"
## Description
Some images in the documentation have the old Prefect logo. These should be updated to the new blue logo.

To do issue. List of specific images TK.

## Expected Behavior

## Reproduction

## Environment

Optionally run `prefect diagnostics` from the command line and paste the information here. -->

[2022-01-10 17:23] anna-geller commented on #5299
I understand the problem, but I can't say whether this should be considered a bug or whether it should be considered an expected behavior. Since you raise a FAIL signal, you intend the flow run (or at least the task run) to fail. Given there is an open issue Kevin mentioned, is it OK to close this one @andywaugh?

[2022-01-10 20:37] nneuh07 opened #5309 "Using Artifact with .map raises ClientError"
## Description
Hey everyone,
currently I am trying out the new artifact api. But when I am using the api in mapped tasks the following error is being thrown:

File "/../create-city-flow.py", line 44, in get_wikipedia_summary
    create_markdown_artifact(artifact_document)
File "/../python3.8/site-packages/prefect/backend/artifacts.py", line 85, in create_markdown_artifact
    return _create_task_r

[2022-01-10 21:46] mirorac opened #5312 "Not compatible with the Hasura newer than v1.3.3"
## Description
When Prefect stack is used with Hasura newer than v1.3.3, flows are not being loaded in the UI. Also flow runs are not being associated with flows in the UI. Looks like some kind of an association or relationship is not being created for the registered flows. I cannot tell if this issue is related only to UI or to also the other components.

## Expected Behavior
I expect Prefect to

[2022-01-10 21:56] madkinsz commented on #5312
Hi! Note that 1.3.3 is the latest version before 2.0. The changes in Hasura v2.0 are breaking, so you definitely won't be able to just switch versions. We'd like to upgrade as well, but some of the breaking changes were for behaviors that we rely on and the upgrade is not trivial.

There is indeed high memory usage on M1 macs, we use them for development and you need to allocate a large amount of

[2022-01-10 22:01] madkinsz commented on #5312
We are actually in the process of officially supporting Hasura v2.0+, see https://github.com/PrefectHQ/server/pull/328

[2022-01-10 22:29] mirorac commented on #5312
No I am not planning to run production server off a M1, it is just for the sake of convenience of development.
Sorry, although I did little search before creating this issue, I haven't noticed the pulls you have linked. So I guess this can be closed.

Thank you.

[2022-01-10 22:41] madkinsz commented on #5309
Is this specific to mapped tasks?

[2022-01-10 22:44] nneuh07 commented on #5309
I guess so. I changed the task to a non mapped task and it just works as expected.

[2022-01-10 22:56] madkinsz commented on #5309
Thanks! We'll investigate and report back here.

[2022-01-10 23:58] anna-geller commented on #5309
The issue is that create_markdown_artifact expects a string and you pass a number. Casting it to a string should work:

[code]

![image](https://user-images.githubusercontent.com/86264395/148857856-0ca4924e-2806-482a-8f4d-2e3d501fd38c.png)
![image](https://user-images.githubusercontent.com/86264395/148857879-3fc2f4c1-51b6-4dca-82f0-9226b2a588c9.png)

[2022-01-11 05:52] tekumara commented on #5275
In some circumstances the kube errors are captured, eg:

[code]

This was with the `prefecthq/prefect:0.15.11-python3.6` agent. I'll have to diagnose the circumstances leading to them not being captured.

[2022-01-11 06:27] #5299 closed

[2022-01-11 06:44] nneuh07 commented on #5309
@anna-geller No, look at the error being raised. It has something to do with the tenantid not being found.

Also here is a reproducible example where the the error happens with a string:
[code]

[2022-01-11 11:10] anna-geller commented on #5309
@nneuh07 perhaps you need to create a tenant first? Here is how you can do it:

`prefect server create-tenant --name default --slug default`

I did the same on Server and the result is the same:

![image](https://user-images.githubusercontent.com/86264395/148932215-9a139e68-b318-4742-8c0b-703efe91957a.png)

![image](https://user-images.githubusercontent.com/86264395/148932277-fc6f40c4-bdc7-4f09-85

[2022-01-11 11:23] nneuh07 commented on #5309
I just tried adding a new tenant `prefect server create-tenant --name default --slug default` with the following message:
prefect.exceptions.ClientError: [{'message': 'Uniqueness violation.', 'locations': [{'line': 2, 'column': 5}], 'path': ['create_tenant'], 'extensions': {'code': 'INTERNAL_SERVER_ERROR', 'exception': {'message': 'Uniqueness violation.'}}}]

I believe this indicates that a tenant

[2022-01-11 11:57] anna-geller commented on #5309
You're 100% correct, the default tenant gets created on server start. Is it something running in production? Can you try the same flow in a brand new Server installation?

It looks like your Server installation is somehow broken, can you register and run other flows? Have you migrated/upgraded your Server version recently?

Fwiw, we could change the title of the issue because it doesn't seem relat

[2022-01-11 12:32] nneuh07 commented on #5309
Actually I installed it just yesterday and wanted to try out Prefect, if it does fit my use-case.

It is so strange, because if I am not using mappings I have no issues at all. One thing I noticed was that 0.15.11 and you 0.15.10. If it is not a big hassle for you, could you try updating and if it does change anything for you?

I am also using pyenv, maybe it is somehow related to that. But I will

[2022-01-11 12:36] anna-geller commented on #5309
Sure, no problem. The output is the same:
![image](https://user-images.githubusercontent.com/86264395/148943654-cbba42e3-9d6e-4f6d-b6f7-af5fa491f2e6.png)

![image](https://user-images.githubusercontent.com/86264395/148943682-f87f5518-ab5e-4d91-b5d2-ef6b37719537.png)
How did you start your Server?

[2022-01-11 12:44] nneuh07 commented on #5309
[https://github.com/PrefectHQ/server/issues/308](url)

I just found an existing issue on the server repo. Should I close it then here?

[2022-01-11 12:53] nneuh07 commented on #5309
But I am still curious, why it does work for you. I started the server by `prefect server start`. How do you start the server?

[2022-01-11 15:37] anna-geller commented on #5309
I started the server using the same command locally. Yes, I think we can close this issue then.

[2022-01-11 15:40] madkinsz commented on #5309
I do not mind leaving this issue open so we can track this in our primary repository.

[2022-01-11 17:52] nneuh07 commented on #5309
So I reproduced all your steps @anna-geller and does indeed work.

What has changed is that I registered the component with the CLI. From my understanding this seems like there is a bug in the `flow.register()` function. Could this be the problem?

@anna-geller would you be so kind and try to delete it and register the flow with python like this:

[code]

[2022-01-11 20:05] anna-geller commented on #5309
Nice work! I can confirm that registering this way indeed causes that issue.
![image](https://user-images.githubusercontent.com/86264395/149013020-90cacc12-d163-4458-b5f6-d8da5eaa260f.png)

This could indicate a storage issue because the CLI registers the flow with script storage while flow.register() pickles the flow. See [this page for more details on that](https://docs.prefect.io/orchestration/

[2022-01-12 14:47] cdeil opened #5315 "Orion: import prefect is slow"
I find that `import prefect` with Orion is very slow, it takes roughly 4 seconds:
[code]

This is on my MacBook with an SSD and this install:
[code]

I didn't try to figure out why it's slow. The only thing I see is the message about NumExpr, which might come from Dask or some other package that maybe shouldn't even be imported on `import prefect` and some imports should be shuffled to the right p

[2022-01-12 15:04] madkinsz commented on #5315
Thanks for the report! In Prefect v1 we try to keep this time really low. In Orion, we haven't made those optimizations. We don't delay any imports of external packages to speed things up. I'll leave this open until we actually try to make these optimizations.

However, I don't get a `NumExpr` message (although it is familiar) and I don't have that slow of an import

[code]

[2022-01-12 15:05] #5312 closed

[2022-01-12 15:19] cdeil commented on #5315
@madkinsz - can you try to reproduce with the conda env command above?
If it's difficult and helps, I could trace the import and figure out what's slow, but like you said, I would assume this is something Orion maintainers can optimise.

[2022-01-12 15:42] madkinsz commented on #5315
Yes I can reproduce this when all the `anaconda` dependencies are installed. That's certainly a lot of additional code.

[code]

The slowdown appears to be exclusively from our import of `distributed` at https://github.com/PrefectHQ/prefect/blob/orion/src/prefect/task_runners.py#L67-L68

We'll be delaying that import in the future.

[2022-01-12 17:11] Romathonat commented on #3706
Can we do this so far with Orion ? I did not find info in the doc

[2022-01-12 17:14] madkinsz commented on #3706
This will be included in the next Orion release :)

[2022-01-13 08:43] me-so-weird commented on #5283
Hey! Can I work on this?

[2022-01-13 10:23] tekumara opened #5319 "orion: table flow_run has no column named flow_runner_type"
## Description

[code]

## Expected Behavior

## Reproduction

<details>
  <summary>minimal example + stack trace</summary>

[code]

[code]
</details>

## Environment
python 3.9.7
prefect 2.0a8
sqlite 3.32.3

[2022-01-13 10:55] harshlancer commented on #5308
@tpdorsey If any one is not assigned can I do this?

[2022-01-13 11:49] INVINCIalokk commented on #5036
Can someone guide me how to solve this issue ? . I am willing to solve this issue.

[2022-01-13 16:26] kfezer opened #5320 "Docs Issue"
Hello!

I've found an issue here:`git clone --depth 1 https://github.com/PrefectHQ/prefect.git
`

Page reference: https://docs.prefect.io/core/tutorial/01-etl-before-prefect.html

I get the error:
'xcrun: error: invalid active developer path (/Library/Developer/CommandLineTools), missing xcrun at: /Library/Developer/CommandLineTools/usr/bin/xcrun'

[2022-01-13 16:31] madkinsz commented on #5319
Hi! On alpha upgrades you'll need to reset your database with `prefect orion reset-db` (**this will delete your data**) to get the latest database schema. In the future, we'll have automatic migrations.

[2022-01-13 16:33] madkinsz commented on #5036
You can describe how to use `FlowRunView.get_logs` and give an example.

[2022-01-13 16:34] madkinsz commented on #5283
Yep go for it!

[2022-01-13 16:35] madkinsz commented on #5320
Hi! This looks like an issue with your `git` installation, not Prefect.

See https://apple.stackexchange.com/questions/254380/why-am-i-getting-an-invalid-active-developer-path-when-attempting-to-use-git-a

[2022-01-13 16:45] kfezer commented on #5320
Yep! That's right! thanks!

[2022-01-13 19:09] madkinsz commented on #5315
Will be closed by https://github.com/PrefectHQ/orion/pull/820

[2022-01-13 22:17] tekumara commented on #5319
Thanks @madkinsz that worked!

[2022-01-13 22:17] #5319 closed

[2022-01-14 04:55] harshlancer commented on #5308
Yes  https://docs.prefect.io/api/latest/, doesn't have gradient logos.

So what should I do next?

Please don't mind my naiveness I'm just starting in open-source communtity.

[2022-01-14 13:49] blake-enyart commented on #5250
Hey @Trymzet  @madkinsz, is there any possibility the changes implemented here might have impacted some of the logging functionality for the AirbyteConnectionTask?

I just recently pushed some changes to a Prefect flow that has been running for the last month and a half successfully and now I'm getting the following stack trace:

[code]

Here is the abbreviated and masked version of the flow I'm r

[2022-01-14 14:06] anna-geller commented on #4570
Adding this issue here since it seems to be the same. A user asked [on Slack](https://prefect-community.slack.com/archives/CL09KU1K7/p1642165590031000) why a list of task run states can be accessed in a state handler in a local flow run, but not in a backend-triggered flow run.  Here is an example that shows the issue:

[code]

The output:
[code]
But running the same through Prefect Cloud results

[2022-01-14 14:08] tpdorsey commented on #5308
No worries. This is what I'd do:
1. Update the svg file at .vuepress/public/assets to the new gradient logo from the link above.
2. Change the URL ref for the image on those pages to point at the relative URL of the new image (/assets/prefect-logo-full-gradient.svg)
3. For the navbar logo, you should just have to update the file /assets/logomark-color.png.
4. Test locally to make sure the images a

[2022-01-14 14:40] Trymzet commented on #5250
@blake-enyart with a quick glampse I'd personally check what's inside that response first (if the structure changed), because it could also be a change in Airbyte API which AFAIK is still experimental.

[2022-01-14 15:15] blake-enyart commented on #5250
Hey @Trymzet! I was able to identify the issue as there was a discrepancy in versions between my Prefect Cloud version and the Prefect Agent I had running on my Airbyte instance. Thanks for the response here!

[2022-01-15 10:46] harshlancer commented on #5308
I've cloned the project but I'm not able to find .vuepress/public/assets I've searched about it and this is what I've found

https://vuepress.vuejs.org/guide/getting-started.html#manual-installation

if this is correct I can start @tpdorsey

[2022-01-15 11:14] INVINCIalokk commented on #5036
![Screenshot 2022-01-15 164008](https://user-images.githubusercontent.com/94790295/149619626-f03dc4a8-f328-44b9-bbab-2719a98423c2.png)
---
IT is already described in docs

[2022-01-15 20:21] tpdorsey commented on #5308
@harshlancer You don't need to install Vuepress to make these changes.

The full path in the repo is /prefect/docs/.vuepress/public/assets. If you're looking in the filesystem, you may need to turn on displaying hidden files. On macos that's command-shift-. (command-shift-period). If you're in a terminal, you'll need `ls -a` to see hidden files and directories.

To build and preview the docs you w

[2022-01-16 02:02] CRD1998 commented on #5286
I am not that the error above is caused by attempting to pickle the `range` generator. I can reproduce this error using the below.

[code]

My complete output is:

[code]

It looks like it is having trouble serializing the `inc` task in the absence of a generator.

[2022-01-16 16:42] Trymzet commented on #5250
No problem @blake-enyart. BTW with this change you can now simplify your flow by only mapping `connection_id`:
[code]
and providing the rest of the arguments at task init.

[2022-01-16 20:40] madkinsz commented on #5286
Can you rerun with the final section as:

[code]

[2022-01-16 20:46] RichardMM commented on #1362
This link is dead too at the moment🤔

[2022-01-16 21:28] CRD1998 commented on #5286
That seemed to do the trick, thanks! I'm interested in what's causing that generator error, guess I have some reading to do on my side.

[2022-01-17 04:14] BitTheByte opened #5327 "Prefect Memory Leak"
## Description
Running Prefect /w Dask on Kubernetes results in huge memory usage as reported by Dask the list object is only ~47MB however when submitted to the workers it increases by 300x resulting in 13.7G object regardless to say this is expressive and doesn't scale well. please note that I tried methods mentioned at https://github.com/PrefectHQ/prefect/issues/3966 and https://github.com/dask

[2022-01-17 16:43] madkinsz commented on #5327
Hi, sorry to hear you're having issues with this. I suspect this has less to do with the size of your input object and more to do with the overhead of creating a million orchestrated tasks. This is on our roadmap to investigate, but it's likely to require some low level optimizations. Can you share more information about what objects are consuming the memory?

[2022-01-18 14:56] mkarbo opened #5330 "DaskExecutor + FargateCluster => RuntimeError: IOLoop is closed"
## Description

After running a successful flow onto a fargate dask cluster, dask raises an error: `RuntimeError: IOLoop is closed`.

This happens with (cartesian product of the following):
- dask, dask-distributed = 2021.12.0, 2022.01.0, 2021.11.0
- Python3.7.12, Python3.8.12, Python3.9.12
- Running flow via flow.run(), via local agent, via ecs agent on cluster.
- docker images: prefecthq/prefect

[2022-01-18 18:22] anna-geller commented on #5330
I reproduced the issue and here is what I noticed:
1) Overall, Prefect is able to create a flow run on Fargate + start a Dask cluster on Fargate + successfully run the flow run on that cluster - I tested it with the latest and a bit older version of Prefect
![image](https://user-images.githubusercontent.com/86264395/149993583-73d8c49a-87d4-4286-b98f-07d33e3ab697.png)
![image](https://user-images.g

[2022-01-19 09:43] cbrown1234 opened #5331 "Broken link on website"
## Description

The "roles" link here: https://docs.prefect.io/orchestration/ui/team-settings.html#switching-teams
in the sentence:
`Teams in Cloud allow you to share your work among users and to assign roles. Each team member will also have their own (free) Cloud Developer account`
returns a 404 for the URL it goes it `https://docs.prefect.io/orchestration/concepts/roles.html`

## Expected Behavi

[2022-01-19 12:33] mkarbo commented on #5330
I was able to get the same results as above.

We can live with the lack of tear-down, but we have an issue with the lack of logging to cloud logs in prefect - that is, we only see logs in cloudwatch (beyond task started/ task ended), but not on flow run logs.

See e.g., cloudlog (all non CloudTaskRunner logs are not submitted to prefect logs)
![image](https://user-images.githubusercontent.com/3849

[2022-01-19 13:03] mkarbo opened #5332 "Dask on Fargate => no logs"
## Description

When using the FargateCluster dask executioner, logs are not stored in prefect - but they are output to cloudwatch.

_Originally posted by @mkarbo in https://github.com/PrefectHQ/prefect/issues/5330#issuecomment-1016423361_

## Expected Behavior

I expect log output to show up in flow run logs.

## Reproduction

See #5330

![image](https://user-images.githubusercontent.com/86264395

[2022-01-19 13:54] sa- opened #5333 "KubernetesRun config doesn't allow setting tolerations and affinity"
## Description
In this method: https://github.com/PrefectHQ/prefect/blob/master/src/prefect/run_configs/kubernetes.py#L82
It is not possible to specify tolerations and affinity, making it very difficult to control which node job runs on.
~~If I specify a `job_template` then I cannot use the `RunNamespacedJob` task.~~
~~It should not be difficult to do both of these things together, so adding `tole

[2022-01-19 14:06] anna-geller commented on #5333
Related to [this Community Slack thread](https://prefect-community.slack.com/archives/CL09KU1K7/p1642597986259800)

[2022-01-19 14:43] mkarbo commented on #5332
My temporary workaround is the following:

[code]

This way, the cloudwatch logs are identifiable. I guess for now I will aggregate logs elsewhere.

[2022-01-19 15:00] anna-geller commented on #5333
Update from @sa- via Slack - by specifying the container name explicitly as below, it works without having to implement any additional run config changes:

[code]

[2022-01-19 15:03] anna-geller commented on #5333
This sentence "If I specify a job_template then I cannot use the RunNamespacedJob task." can be ignored since it does work as long as the job template is defined properly - @sa- Can you confirm and update the issue description?

[2022-01-19 15:10] sa- commented on #5333
Done

[2022-01-19 22:44] cicdw commented on #1362
@RichardMM this is a persistent link that should always work: [https://prefect.io/slack](https://prefect.io/slack)

[2022-01-20 08:12] sa- opened #5338 "pip install prefect[azure] fails on apple silicon"
## Description

Output from `poetry install`

[code]

According to this issue https://github.com/dotnet/core/issues/7122, prefect is using an unsupported dependency that does not have wheels for arm64 macs. The folks over at dotnet/core recommend updating to version 6. According to [this page](https://dotnet.microsoft.com/en-us/platform/support/policy/dotnet-core) it's LTS and will be supported fo

[2022-01-20 11:58] anna-geller opened #5339 "F-string not defined correctly in a Bitbucket Storage error message"
## Description
A [community user](https://prefect-community.slack.com/archives/CL09KU1K7/p1642677838351300?thread_ts=1642670137.348000&cid=CL09KU1K7) received not properly evaluated error message:
`Failed to load and execute Flow's environment: ValueError("ref {ref!r} not found in '{self.workspace}/{self.repo}'",)`

## Expected Behavior
This line:

https://github.com/PrefectHQ/prefect/blob/01705d3

[2022-01-20 12:15] anna-geller opened #5340 "Bitbucket Storage missing pagination when listing branches and their hash values"
## Description
This line https://github.com/PrefectHQ/prefect/blob/01705d38b9819a8e38d2696ee56999bc7a3faf89/src/prefect/storage/bitbucket.py#L138
returns a [paginated response](https://developer.atlassian.com/cloud/bitbucket/rest/api-group-refs/#api-repositories-workspace-repo-slug-refs-branches-get) and the Bitbucket client currently only looks at the branches returned on the first page. If the g

[2022-01-20 23:24] dylanbhughes opened #5342 "Docs Issue: broken link to control flow page"
Hello!

I've found an issue here:`built-in tasks for control-flow that you can use to a`

Page reference: https://docs.prefect.io/core/examples/conditional.html

[2022-01-21 05:26] kvnkho opened #5343 "Make cache key callable or templatable"
## Current behavior

Currently, the `cache_key` takes in a static value. This means that mapped tasks end up sharing a common `cache_key`. Because of that, the other mapped tasks will just use the cache of the first mapped task.

For [targets](https://docs.prefect.io/core/idioms/targets.html), which is a file-based caching, the location can be templated and multiple mapped tasks can have independe

[2022-01-21 15:19] multimeric opened #5344 "Allow access to the task's target at runtime"
## Motivation
If you have a task that explicitly requires an output filepath, for example because you are running a CLI tool or downloading a file, you might want to simply get that path as a string from within the task. The target name may be dynamic based on the map index and such, so this is not as simple as copying the same string you used in `@task(target="")`.

## Current behavior

Currently

[2022-01-21 16:37] RRRajput commented on #1745
I built-up a bit on top of @Abrosimov-a-a 's decorator concept and came up with this.

[code]

If the `flow` is called within another flow, it becomes a sub-flow. Otherwise, it remains a sub-flow as before.

[2022-01-21 17:49] marvin-robot opened #5345 "Test"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

**dylan**: <@ULVA73B9P> open “Test”

Original thread can be found [here](https://prefect-community.slack.com/archives/C0301KR0PH7/p1642787385004300).

[2022-01-21 17:53] marvin-robot opened #5346 "this is a test please ignore"
## Archived from the [Prefect Public Slack Community](https://prefect.io/slack)

**dylan**: <@ULVA73B9P> archive “this is a test please ignore”

Original thread can be found [here](https://prefect-community.slack.com/archives/C0301KR0PH7/p1642787585008600?thread_ts=1642787551.004700&cid=C0301KR0PH7).

[2022-01-21 17:53] #5346 closed

[2022-01-21 20:36] marvin-robot opened #5347 "this is another test please ignore again"
## Archived from the [Prefect Public Slack Community](https://prefect.io/slack)

**dylan**: <@ULVA73B9P> archive “this is another test please ignore again”

Original thread can be found [here](https://prefect-community.slack.com/archives/C0301KR0PH7/p1642796722009100?thread_ts=1642787551.004700&cid=C0301KR0PH7).

[2022-01-21 20:36] #5347 closed

[2022-01-21 20:37] marvin-robot opened #5348 "this is another test please ignore again"
## Archived from the [Prefect Public Slack Community](https://prefect.io/slack)

**dylan**: k;lkajdg

**dylan**: ;lkahjsdfg

**dylan**: as;lkhag

**dylan**: ;a;lkhasdg
dfg

**dylan**: adfg

**dylan**: asdg

**dylan**: asdg

**dylan**: asdg

**dylan**: adfh

**dylan**: adfhg

**dylan**: adfh

**dylan**: adfh

**dylan**: adshg

**dylan**: d

**dylan**: rgsh

**dylan**: sdfh

**dylan**: adfgh

**dyla

[2022-01-21 20:37] #5348 closed

[2022-01-21 20:38] marvin-robot opened #5349 "this is another test please ignore again"
## Archived from the [Prefect Public Slack Community](https://prefect.io/slack)

**dylan**: k;lkajdg

**dylan**: ;lkahjsdfg

**dylan**: as;lkhag

**dylan**: ;a;lkhasdg
dfg

**dylan**: adfg

**dylan**: asdg

**dylan**: asdg

**dylan**: asdg

**dylan**: adfh

**dylan**: adfhg

**dylan**: adfh

**dylan**: adfh

**dylan**: adshg

**dylan**: d

**dylan**: rgsh

**dylan**: sdfh

**dylan**: adfgh

**dyla

[2022-01-21 20:38] #5349 closed

[2022-01-21 21:03] marvin-robot opened #5350 "test"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

Original thread can be found [here](https://prefect-community.slack.com/archives/C0301KR0PH7/p1642798994010700).

[2022-01-21 21:03] marvin-robot opened #5351 "test"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

Original thread can be found [here](https://prefect-community.slack.com/archives/C0301KR0PH7/p1642798994010700).

[2022-01-21 21:04] marvin-robot opened #5352 "test"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

Original thread can be found [here](https://prefect-community.slack.com/archives/C0301KR0PH7/p1642798994010700).

[2022-01-21 21:05] marvin-robot opened #5353 "only open once --test"
## Opened from the [Prefect Public Slack Community](https://prefect.io/slack)

Original thread can be found [here](https://prefect-community.slack.com/archives/C0301KR0PH7/p1642799128011600).

[2022-01-21 21:06] #5350 closed

[2022-01-21 21:06] #5351 closed

[2022-01-21 21:06] #5352 closed

[2022-01-21 21:06] #5353 closed

[2022-01-21 21:17] scoussens opened #5354 "Function parameters are not hinted at since the Flow comes back as Any type variable."
## Description
With modern development tooling, when you implement a function, you will see a list of variables the function expects.

![ApplicationFrameHost_e28wGWP8zO](https://user-images.githubusercontent.com/8010027/150600729-8f304dae-a947-419d-8284-ba12d8ab541c.png)

When you write a function as a Task using the Prefect @task decorator, it hides the parameters since the return type is 'Functi

[2022-01-21 21:43] madkinsz commented on #5354
Hi! This is primarily a consequence of the novelty of typing in Python. The language has only [recently added support](https://www.python.org/dev/peps/pep-0612/) for maintaining type signatures on decorated functions like this. Prefect Orion supports this, but it only works with `pyright` (and consequently, VSCode) and it was a lot of work. It's actually not possible with `mypy` as they [haven't a

[2022-01-21 22:56] #5331 closed

[2022-01-22 00:33] madkinsz opened #5358 "`SpacyNLP` task is not compatible with spacy >= 3.0"
See CI failure at: https://app.circleci.com/pipelines/github/PrefectHQ/prefect/10850/workflows/1dabf16f-c1cb-4e02-9798-34e9ec12170a/jobs/140858

[code]

`spacy` is pinned to `< 3.0` to prevent this from breaking builds, but ideally we would not have upper bound version constraints.

[2022-01-22 00:35] zanieb opened #5359 "Jupyter tasks are not compatible with mistune >= 2.0"
Patched in #5206, but ideally we would not have upper bound version constraints.

See example failure in CI at: https://app.circleci.com/pipelines/github/PrefectHQ/prefect/10850/workflows/1dabf16f-c1cb-4e02-9798-34e9ec12170a/jobs/140858

[code]

[2022-01-22 00:45] madkinsz opened #5360 "Some task library tests are being skipped"
See `master` CI run at https://app.circleci.com/pipelines/github/PrefectHQ/prefect/10845/workflows/9515f716-1863-49d9-9fda-29b5347fcac3/jobs/140818

The following task library tests are skipped:
[code]

We should resolve these imports/skips so these tasks are tested correctly.

We should also ensure that this CI job fails tests instead of skips when imports fail since we are intentionally testing

[2022-01-22 00:52] #5315 closed

[2022-01-23 01:06] cicdw commented on #1745
Prefect 2.0 will have a first class concept of subflows that is ready for anyone willing to test pre-release software:
- some intro docs: https://orion-docs.prefect.io/concepts/flows/#subflows
- to test the latest, `pip install -U "prefect>2.0a1"` and please note that this should be done in a separate environment from your standard `prefect` installation

[2022-01-24 16:25] #5171 closed

[2022-01-24 17:28] marvin-robot opened #5363 "Flow orchestrator pattern for ELT workflows"
## Archived from the [Prefect Public Slack Community](https://prefect.io/slack)

**david.yang**: Hi All, I have this ELT scenario and appreciate that you could give me suggestions.
1: ET runs as first step that pulls data from a SQL server, saves data into zipped csv files and then uploads them into snowflake by PowerShell scripts.
2: After EL is done, T runs through a dbt project
3: Then we need

[2022-01-24 17:28] #5363 closed

[2022-01-25 00:32] palewire opened #5364 "Tutorial docs not working"
## Description
The installation section suggests this for pipenv install.

![Screenshot from 2022-01-24 16-29-48](https://user-images.githubusercontent.com/9993/150888002-9808979a-4460-4b6f-9e82-67a2adfd8aa3.png)

I ran that install, with `--pre`.

I then ran ...

[code]

... to get to the Python shell.

The next step of the tutorial suggests the following:
![Screenshot from 2022-01-24 16-31-52](h

[2022-01-25 01:35] youcandanch commented on #5110
Hi @anna-geller! I'm running into the behaviour @will-ockmore is describing, and I want to make sure I understand something:

So hypothetically, say I start up a Prefect Agent with the following syntax: `prefect agent ecs start --task-role-arn arn:aws:iam::123456791011:role/prefect_task_role`. What I think you're saying is that this acts as a _default_ in the case that a task definition or explici

[2022-01-25 01:52] youcandanch commented on #5110
(Side note, @madkinsz happy to open a new issue if that's easier, just wasn't 100% sure!)

[2022-01-25 09:28] beci opened #5365 "Crash if `/etc/timezone` is a directory"
## Description
If the `/etc/timezone` is a directory, then prefect crashes.
Yes, that should be a file (link) instead of a folder, but some distribution and package maintainers like to create it on every update. I'm using a few ArchLinux machines, where this happens after every update.

This is caused by a [bug in pendulum](https://github.com/sdispater/pendulum/issues/256) which is [fixed by me](h